/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@media(max-width: 880px) {
    .detailBlock {
        width: 100% !important;
    }
}
.deliveryBoxDesign {
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px white;
    border-radius:10px;
}
    .deliveryBoxDesign:hover, .deliveryBoxDesign.selected {
        box-shadow: 0px 0px 10px yellow;
        border: 2px solid yellow;
    }
    .detailBlock {
        display: inline-block;
        vertical-align: top;
    }
.descriptionBlock {
    display: block;
    padding: 0px 50px;
    line-height: 24px;
    text-align: justify;
}
.titleBlock {
    display: block;
    padding: 0px 50px;
    text-align: justify;
    font-weight: bold;
    font-size: 38px;
    padding-bottom: 20px;
}
.noneDecoration {
    text-decoration: none;
}
body {
    background: #e9eaff;
}

.btnBuy {
    background: #e87619;
    height: 51px;
    color: #411f0c;
    width: 80%;
    border: 1px solid #e87619;
}

    .btnBuy img, .btnBuy span {
        vertical-align: middle;
    }

input#btnContinueBuys {
    border: 1px solid #474c7c;
    color: #3b328d;
    width: 80%;
    height: 51px;
}

input#btnCloseDetailWindow {
    background: #474c7c;
    border: 1px solid #474c7c;
    color: white;
    height: 51px;
    width: 20%;
}

.smallPhotoes {
    max-width: 26%;
    max-height: 100px;
    margin: 10px;
    vertical-align: middle;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* Default page styles
-------------------------------------------------- */
.parentDiv {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
    margin-left: 1vmin;
    width: 170px;
    height: 150px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 10px;
}

.parentDivAutoParts {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
    margin-left: 1vmin;
    width: 208px;
    height: 185px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 6px;
}
.topCategoryDiv {
    background: #E9EAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
    margin-left: 1vmin;
    width: 148px;
    height: 130px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 10px;
}
    .topCategoryDiv.selected {
        background:white;
    }
.manufactureText {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.parentDiv:hover, .topCategoryDiv:hover, .parentDivAutoParts:hover {
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
}

input {
    border: 0px;
}

.loopBtn {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
}

    .loopBtn:hover {
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
    }
.leftIndexPanel {
    width: 35%;
    min-width: 35%;
    color: white;
    font-size: 40px;
    background: #504593;
    vertical-align: top;
    text-align: center;
}
.rightIndexPanel {
    background: #DCDEFF;
    box-shadow: 0 0 14px rgba(0,0,0,0.5);
    vertical-align: top;
}
.manufactureImage {
    max-width: 155px;
    max-height: 145px;
}
.TopCategoryImage {
    max-width: 140px;
    max-height: 65px;
}
.modelImage {
    max-width: 158px;
    max-height: 115px;
    padding-top: 20px;
}
.modelImageAutoParts {
    max-width: 165px;
    max-height: 145px;
    padding-top: 20px;
}
.mainBlockTitle {
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    background: #EEEFFF;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    padding: 6px;
    font-weight: bold;
    color: #F97008;
    width: 100%
}
.inline-block {
    display:inline-block;
    vertical-align:middle;
}