/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@media(max-width: 880px) {
    .detailBlock {
        width: 100% !important;
    }
}

.filterItemAllState_All, .filterItemNewState_All, .filterItemUsedState_All, .filterItemRecoverState_All,
.filterItemAllState_New, .filterItemNewState_New, .filterItemUsedState_New, .filterItemRecoverState_New,
.filterItemAllState_Used, .filterItemNewState_Used, .filterItemUsedState_Used, .filterItemRecoverState_Used,
.filterItemAllState_Recovered, .filterItemNewState_Recovered, .filterItemUsedState_Recovered, .filterItemRecoverState_Recovered, .filterItemAscSorting_PriceDesc,
.filterItemRelevanceSorting_Relevance, .filterItemDescSorting_Relevance, .filterItemAscSorting_Relevance, .filterItemRelevanceSorting_PriceDesc,
.filterItemDescSorting_PriceDesc, .filterItemDescSorting_PriceDesc, .filterItemDescSorting_PriceDesc,
.filterItemAscSorting_PriceAsc, .filterItemAscSorting_PriceAsc, .filterItemAscSorting_PriceAsc,
.filterItemRelevanceSorting_PriceAsc, .filterItemDescSorting_PriceAsc {
    border-right: 1px solid #c3c4c7;
    padding: 5px 20px;
    display: inline-block;
    color: white;
    background: #504593;
}

    .filterItemAllState_All, .filterItemNewState_New, .filterItemUsedState_Used, .filterItemRecoverState_Recovered,
    .filterItemRelevanceSorting_Relevance, .filterItemDescSorting_PriceDesc, .filterItemAscSorting_PriceAsc,
    .filterItemAllState_All:hover, .filterItemNewState_All:hover, .filterItemUsedState_All:hover, .filterItemRecoverState_All:hover,
    .filterItemAllState_New:hover, .filterItemNewState_New:hover, .filterItemUsedState_New:hover, .filterItemRecoverState_New:hover,
    .filterItemAllState_Used:hover, .filterItemNewState_Used:hover, .filterItemUsedState_Used:hover, .filterItemRecoverState_Used:hover,
    .filterItemAllState_Recovered:hover, .filterItemNewState_Recovered:hover, .filterItemUsedState_Recovered:hover, .filterItemRecoverState_Recovered:hover
    .filterItemRelevanceSorting_Relevance:hover, .filterItemRelevanceSorting_Relevance:hover, .filterItemRelevanceSorting_Relevance:hover,
    .filterItemDescSorting_PriceDesc:hover, .filterItemDescSorting_PriceDesc:hover, .filterItemDescSorting_PriceDesc:hover,
    .filterItemAscSorting_PriceAsc:hover, .filterItemAscSorting_PriceAsc:hover, .filterItemAscSorting_PriceAsc:hover, filterItemDescSorting_PriceAsc:hover, .filterItemRelevanceSorting_PriceAsc:hover,
    filterItemDescSorting_Relevance:hover, .filterItemAscSorting_Relevance:hover, .filterItemDescSorting_PriceAsc:hover, .filterItemDescSorting_Relevance:hover,
    .filterItemAscSorting_PriceDesc:hover, .filterItemRelevanceSorting_PriceDesc:hover{
        box-shadow: 0px 0px 10px #504593;
        background: white;
        color: black;
    }

.form-control {
    margin-top: 30px;
    height: 45px !important;
    font-size: 18px !important;
}
a:hover {
    text-decoration:none !important;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: black !important;
    font-size: 18px;
    height: 45px;
}

.bootstrap-select > .dropdown-toggle {
    height: 45px;
}

h3 {
    margin: 20px 0px !important;
}

.deliveryBoxDesign {
    border: 2px solid white;
    background: white;
    color: #504593;
    box-shadow: 0px 0px 5px white;
    border-radius: 5px;
    text-align: center;
    padding: 4px;
}

    .deliveryBoxDesign:hover, .deliveryBoxDesign.selected {
        box-shadow: 0px 0px 5px #ff5a00;
        border: 2px solid #ff5a00;
    }

.detailBlock {
    display: inline-block;
    vertical-align: top;
}

.descriptionBlock {
    display: block;
    padding: 0px 50px;
    line-height: 24px;
    text-align: justify;
}

.titleBlock {
    display: block;
    padding: 0px 50px;
    text-align: justify;
    font-weight: bold;
    font-size: 38px;
    padding-bottom: 20px;
}

.noneDecoration {
    text-decoration: none;
}

body {
    background: #e9eaff;
}

ul.pagination li {
    padding: 0px 8px;
    font-size: 20px;
}

.pagination {
    margin-bottom: 0px;
}

.cartQuantity {
    width: 38px;
    border: 1px solid #c3c4c7;
}

.quantityBtn {
    color: #6d6bff !important;
    text-decoration: underline !important;
}

    .quantityBtn:hover {
        color: #6d6bff !important;
        text-decoration: none !important;
        cursor: pointer;
    }

.btnBuy {
    background: #e87619;
    height: 51px;
    color: white;
    width: 80%;
    border: 1px solid #e87619;
}

.btnBuyNew {
    background: white;
    height: 51px;
    color: #ff5a00;
    width: 100%;
    border: 1px solid #ff5a00;
    font-size: 28px;
}

    .btnBuyNew:hover {
        background: #ff5a00;
        color: white;
        box-shadow: 0 0 6px white;
    }

.btnBuyCart {
    background: #e87619;
    height: 51px;
    color: white;
    width: 40%;
    border: 1px solid #e87619;
}

.productTitle {
    font-size: 22px;
    font-weight: normal;
    color: #222;
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    color: black;
}

.enlargePhoto {
    background-image: url(/images/PhotoEnlargeIcon.png);
    background-position: 20px 5px;
    background-repeat: no-repeat;
    padding: 5px 4px 10px 30px;
    margin: 0px 10px;
    width: 170px;
}

.btnBuyList {
    background: linear-gradient(90deg, #ff5a00, #FFB21D);
    height: 42px;
    color: white;
    width: 100%;
    border: 0px;
}

.row {
    margin: 0px !important;
}

.btnOrder {
    background: linear-gradient(90deg, #ff5a00, #FFB21D);
    font-size: 26px;
    color: white;
    width: 100%;
    border: 0px;
    text-align: center;
    cursor: pointer;
    padding: 10px 0px;
    margin: 10px 0px;
}

    .btnOrder:hover, .btnBuyList:hover {
        background: linear-gradient(90deg, #FFB21D, #ff5a00);
        box-shadow: 0 0 6px white;
        color: white;
    }
.hide {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:block !important;
}
.btnDeleteCartItem {
    border: 1px solid #FFB21D;
    height: 34px;
    background: white;
    color: #411f0c;
    width: 100%;
    text-align: center;
}

    .btnDeleteCartItem:hover {
        background: #a59c9c;
        color: white;
    }

.blockPopUp {
    white-space: pre-line;
    text-align: justify;
    padding: 20px 30px;
}

.btnBuyList:hover {
    border: 0px;
}

.btnBuy img, .btnBuy span, .btnBuyList img, .btnBuyList span, .btnBuyCart img, .btnDeleteCartItem img, .btnDeleteCartItem span {
    vertical-align: middle;
    padding-left: 5px;
}

.btnBuyCart span {
    vertical-align: middle;
    font-weight: bold;
    padding-left: 5px;
    font-size: 20px;
}

input#btnContinueBuys {
    border: 1px solid #474c7c;
    color: #3b328d;
    width: 80%;
    height: 51px;
}

input#btnCloseDetailWindow {
    background: #474c7c;
    border: 1px solid #474c7c;
    color: white;
    height: 51px;
    width: 20%;
}

.paymentMethod {
    border: 1px solid #c3c4c7;
    margin-bottom:25px;
    background: white;
    padding:5px;
}

    .paymentMethod:hover {
        box-shadow: 0 0 20px #c3c4c7;
    }

.smallPhotoes {
    max-width: 26%;
    max-height: 100px;
    margin: 9px;
    vertical-align: middle;
}
.openProductDEtailsBtn {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #ff5a00;
    font-weight: 500;
    cursor:pointer;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    background: #23274d;
    position: inherit;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
/* Default page styles
-------------------------------------------------- */
.parentDiv {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
    margin-left: 1vmin;
    width: 200px;
    height: 150px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 10px;
}

.parentDivManufacturer {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
    margin-left: 1vmin;
    width: 165px;
    height: 150px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 10px;
}

.parentDivBreadCrumbs {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vmin;
    width: 200px;
    height: 130px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 5px;
}

.parentDivAutoParts {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
    margin-left: 1vmin;
    width: 200px;
    height: 185px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 6px;
}

.topCategoryDiv {
    background: #E9EAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
    margin-left: 1vmin;
    width: 143px;
    height: 130px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 10px;
}

    .topCategoryDiv.selected {
        background: white;
    }

.manufactureText {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.manufactureTextBreadcrumbs {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.parentDiv:hover, .topCategoryDiv:hover, .parentDivAutoParts:hover, .parentDivManufacturer:hover {
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
}

input {
    border: 0px;
}

.loopBtn {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
}

    .loopBtn:hover {
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
    }

.leftIndexPanel {
    width: 33%;
    min-width: 33%;
    color: white;
    font-size: 40px;
    background: #504593;
    vertical-align: top;
    text-align: center;
}

.rightIndexPanel {
    background: #DCDEFF;
    box-shadow: 0 0 14px rgba(0,0,0,0.5);
    vertical-align: top;
}

.manufactureImage {
    max-width: 155px;
    max-height: 145px;
}

.manufactureImageCategoryBreadcrumbs {
    max-width: 155px;
    max-height: 100px;
}

.manufactureImageBreadcrumbs {
    max-width: 180px;
    max-height: 130px;
}

.TopCategoryImage {
    max-width: 140px;
    max-height: 65px;
}

.modelImage {
    max-width: 185px;
    max-height: 115px;
    padding-top: 20px;
}

.modelImageAutoParts {
    max-width: 165px;
    max-height: 145px;
    padding-top: 20px;
}

.mainBlockTitle {
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    background: #EEEFFF;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    padding: 6px;
    font-weight: 500;
    color: #ff5a00;
    font-family: Open Sans,sans-serif;
    width: 100%;
    letter-spacing: 1px;
}
.inputPart {
    font-size: 20px;
    height: 62px;
    width: 90%;
}
.mainBlockTitleOrder {
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    background: #EEEFFF;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    padding: 23px 16px;
    font-weight: 400;
    color: #ff5a00;
    font-family: Open Sans,sans-serif;
    width: 100%;
    letter-spacing: 1px;
}


.inline-block {
    display: inline-block;
    vertical-align: middle;
}
.field-validation-error {
    color: red;
    font-size:16px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
