/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.filterItemNewState_New, .filterItemUsedState_New, .filterItemRecoverState_New,
.filterItemNewState_Used, .filterItemUsedState_Used, .filterItemRecoverState_Used,
.filterItemNewState_Recovered, .filterItemUsedState_Recovered, .filterItemRecoverState_Recovered, .filterItemAscSorting_PriceDesc,
.filterItemRelevanceSorting_Relevance, .filterItemDescSorting_Relevance, .filterItemAscSorting_Relevance, .filterItemRelevanceSorting_PriceDesc,
.filterItemDescSorting_PriceDesc, .filterItemDescSorting_PriceDesc, .filterItemDescSorting_PriceDesc,
.filterItemAscSorting_PriceAsc, .filterItemAscSorting_PriceAsc, .filterItemAscSorting_PriceAsc,
.filterItemRelevanceSorting_PriceAsc, .filterItemDescSorting_PriceAsc,
.filterItemEngineBenzyn_, .filterItemEngineDiesel_, .filterItemEngineElektryczne_,
.filterItemOrigin_, .filterItemFake_, .filterItemOrigin_zamiennik, .filterItemFake_oryginał,
.filterItemPlacementLR_, .filterItemPlacementL_, .filterItemPlacementR_,
.filterItemPlacementF_, .filterItemPlacementB_,
.filterItemPlacementLF_, .filterItemPlacementLB_, .filterItemPlacementRF_, .filterItemPlacementRB_,
.filterItemPlacementL_LEWY_PRAWE, .filterItemPlacementR_LEWY_PRAWE, .filterItemPlacementLR_LEWY, .filterItemPlacementR_LEWY, .filterItemPlacementLR_PRAWE, .filterItemPlacementL_PRAWE,
.filterItemPlacementB_przód, .filterItemPlacementF_tył, .filterItemPlacementLB_lewy_przód, .filterItemPlacementRF_lewy_przód, .filterItemPlacementRB_lewy_przód, .filterItemPlacementLF_lewy_tył, .filterItemPlacementRF_lewy_tył,
.filterItemPlacementRB_lewy_tył, .filterItemPlacementLF_prawy_przód, .filterItemPlacementLF_prawy_przód, .filterItemPlacementRB_prawy_przód, .filterItemPlacementLF_prawy_tył, .filterItemPlacementLB_prawy_tył, .filterItemPlacementRF_prawy_tył, .filterItemPlacementLB_prawy_przód,
.filterItemEngineDiesel_benzynowy, .filterItemEngineElektryczne_benzynowy, .filterItemEngineBenzyn_diesel, .filterItemEngineElektryczne_diesel, .filterItemEngineBenzyn_elektryczne, .filterItemEngineDiesel_elektryczne,
.filterItemEngineDiesel_diesel, .filterItemEngineBenzyn_benzynowy, .filterItemEngineElektryczne_elektryczne,
.filterItemTransmissionAutomatyczna_, .filterItemTransmissionManualna_, .filterItemTransmissionManualna_Automatyczna, .filterItemTransmissionAutomatyczna_Manualna {
    border-bottom: 1px solid #ff6b05;
    padding: 2px 5px;
    margin: 0 5%;
    display: inline-block;
    color: black;
    cursor: pointer;
    background: white;
    width: -webkit-fill-available;
}

    .filterItemTransmissionAutomatyczna_:hover, .filterItemTransmissionManualna_:hover, .filterItemTransmissionAutomatyczna_Automatyczna, .filterItemTransmissionManualna_Automatyczna:hover, .filterItemTransmissionManualna_Manualna, .filterItemTransmissionAutomatyczna_Manualna:hover,
    .filterItemNewState_New, .filterItemUsedState_Used, .filterItemRecoverState_Recovered,
    .filterItemRelevanceSorting_Relevance, .filterItemDescSorting_PriceDesc, .filterItemAscSorting_PriceAsc,
    .filterItemNewState_New:hover, .filterItemUsedState_New:hover, .filterItemRecoverState_New:hover,
    .filterItemNewState_Used:hover, .filterItemUsedState_Used:hover, .filterItemRecoverState_Used:hover,
    .filterItemNewState_Recovered:hover, .filterItemUsedState_Recovered:hover, .filterItemRecoverState_Recovered:hover
    .filterItemRelevanceSorting_Relevance:hover, .filterItemRelevanceSorting_Relevance:hover, .filterItemRelevanceSorting_Relevance:hover,
    .filterItemDescSorting_PriceDesc:hover, .filterItemDescSorting_PriceDesc:hover, .filterItemDescSorting_PriceDesc:hover,
    .filterItemAscSorting_PriceAsc:hover, .filterItemAscSorting_PriceAsc:hover, .filterItemAscSorting_PriceAsc:hover, filterItemDescSorting_PriceAsc:hover, .filterItemRelevanceSorting_PriceAsc:hover,
    filterItemDescSorting_Relevance:hover, .filterItemAscSorting_Relevance:hover, .filterItemDescSorting_PriceAsc:hover, .filterItemDescSorting_Relevance:hover,
    .filterItemAscSorting_PriceDesc:hover, .filterItemRelevanceSorting_PriceDesc:hover,
    .filterItemEngineBenzyn_:hover, .filterItemEngineDiesel_:hover, .filterItemEngineElektryczne_:hover,
    .filterItemOrigin_:hover, .filterItemFake_:hover,
    .filterItemOrigin_oryginał, .filterItemFake_zamiennik,
    .filterItemPlacementLR_:hover, .filterItemPlacementL_:hover, .filterItemPlacementR_:hover,
    .filterItemPlacementF_:hover, .filterItemPlacementB_:hover,
    .filterItemPlacementLF_:hover, .filterItemPlacementLB_:hover, .filterItemPlacementRF_:hover, .filterItemPlacementRB_:hover,
    .filterItemPlacementL_LEWY, .filterItemPlacementR_PRAWE, .filterItemPlacementLR_LEWY_PRAWE,
    .filterItemPlacementL_LEWY_PRAWE:hover, .filterItemPlacementR_LEWY_PRAWE:hover, .filterItemPlacementLR_LEWY:hover, .filterItemPlacementR_LEWY:hover, .filterItemPlacementLR_PRAWE:hover,
    .filterItemPlacementL_PRAWE:hover, .filterItemPlacementF_przód, .filterItemPlacementB_tył, .filterItemPlacementB_przód:hover, .filterItemPlacementF_tył:hover,
    .filterItemPlacementLF_lewy_przód, .filterItemPlacementLB_lewy_tył, .filterItemPlacementRF_prawy_przód, .filterItemPlacementRB_prawy_tył, .filterItemPlacementLB_lewy_przód:hover, .filterItemPlacementRF_lewy_przód:hover,
    .filterItemPlacementRB_lewy_przód:hover, .filterItemPlacementLF_lewy_tył:hover, .filterItemPlacementRF_lewy_tył:hover, .filterItemPlacementRB_lewy_tył:hover, .filterItemPlacementLF_prawy_przód:hover, .filterItemPlacementLF_prawy_przód:hover,
    .filterItemPlacementRB_prawy_przód:hover, .filterItemPlacementLF_prawy_tył:hover, .filterItemPlacementLB_prawy_tył:hover, .filterItemPlacementRF_prawy_tył:hover, .filterItemPlacementLB_prawy_przód:hover, .filterItemEngineBenzyn_benzynowy,
    .filterItemEngineDiesel_benzynowy:hover, .filterItemEngineElektryczne_benzynowy:hover, .filterItemEngineDiesel_diesel, .filterItemEngineBenzyn_diesel:hover, .filterItemEngineElektryczne_diesel:hover, .filterItemEngineElektryczne_elektryczne,
    .filterItemEngineBenzyn_elektryczne:hover, .filterItemEngineDiesel_elektryczne:hover {
        background: linear-gradient(90deg, #FFB21D, #ff5a00);
        padding: 2px 5px;
        margin: 0 5%;
        color: white;
        width: -webkit-fill-available;
        border-right: 1px solid #c3c4c7;
        display: inline-block;
    }
.filterTd {
    vertical-align: top;
    width: 16%;
    display: inline-block;
    padding:10px;
}

#divBtnNova, #divBtnCourier, .form-control {
    cursor: pointer;
}
.first {
    
}

    .first:hover ~ .second {
        display: block;
    }

.second {
    padding: 10px 20px;
    background-color: #ff6c00;
    display: block;
    color: white;
    font-weight: 500;
    font-size: 23px;
    right: 2%;
    bottom:0;
    position: fixed;
    border-radius: 10px;
    display:none;
}
.tiresFilter {
    width: 100%;
}
.priceProductComment {
    text-align: center;
    padding: 20px 20px 0px 20px;
}
    .tiresFilter td {
        padding:0px 20px;
    }

.form-control {
    margin-top: 30px;
    height: 45px !important;
    font-size: 18px !important;
}

a:hover {
    text-decoration: none !important;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: black !important;
    font-size: 18px;
    height: 45px;
}

.bootstrap-select > .dropdown-toggle {
    height: 45px;
}
.divInputPartFilter {
    display: inline-block;
    vertical-align: middle;
    width: 94%;
}
h3 {
    margin: 20px 0px !important;
}
.noProducts {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 30% 30% 0 30%;
    font-weight: bold;
    color: #504593;
}
.deliveryBoxDesign {
    border: 2px solid white;
    background: white;
    color: #504593;
    box-shadow: 0px 0px 5px white;
    border-radius: 5px;
    text-align: center;
    padding: 4px;
}

    .deliveryBoxDesign:hover, .deliveryBoxDesign.selected {
        box-shadow: 0px 0px 5px #ff5a00;
        border: 2px solid #ff5a00;
    }

.detailBlock {
    display: inline-block;
    vertical-align: top;
}

.descriptionBlock {
    display: block;
    padding: 0px 30px;
    line-height: 24px;
    text-align: justify;
}

.titleBlock {
    display: block;
    padding: 0px 30px;
    /*font-weight: bold;*/
    font-size: 38px;
    padding-bottom: 20px;
}

.noneDecoration {
    text-decoration: none;
}

body {
    background: #e9eaff;
}

ul.pagination li {
    padding: 0px 8px;
    font-size: 20px;
}

.pagination {
    margin-bottom: 0px;
}

.cartQuantity {
    width: 38px;
    border: 1px solid #c3c4c7;
}

.quantityBtn {
    color: #6d6bff !important;
    text-decoration: underline !important;
}

    .quantityBtn:hover {
        color: #6d6bff !important;
        text-decoration: none !important;
        cursor: pointer;
    }

.btnBuy {
    background: #e87619;
    height: 51px;
    color: white;
    width: 80%;
    border: 1px solid #e87619;
}
.btnBuyNewCartOrder {
    background: #ff5a00;
    color: white;
    box-shadow: 0 0 6px white;
    min-height: 51px;
    width: 400px;
    border: 1px solid #ff5a00;
    font-size: 28px;
}
    .btnBuyNewCartOrder:hover {
        background: white;
        color: #ff5a00;
    }
    .btnBuyNewCart {
        background: white;
        min-height: 51px;
        color: #ff5a00;
        width: 400px;
        border: 1px solid #ff5a00;
        font-size: 28px;
    }
.btnBuyNew {
    background: white;
    min-height: 51px;
    color: #ff5a00;
    width: 100%;
    border: 1px solid #ff5a00;
    font-size: 28px;
}

    .btnBuyNew:hover, .btnBuyNewCart:hover {
        background: #ff5a00;
        color: white;
        box-shadow: 0 0 6px white;
    }

.btnBuyCart {
    background: #e87619;
    height: 51px;
    color: white;
    width: 40%;
    border: 1px solid #e87619;
}

.productTitle {
    font-size: 22px;
    /*font-weight: normal;*/
    color: #222;
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    color: black;
}

.enlargePhoto {
    background-image: url(/images/PhotoEnlargeIcon.png);
    background-position: 20px 5px;
    background-repeat: no-repeat;
    padding: 5px 4px 10px 30px;
    margin: 0px 10px;
    width: 170px;
}

.btnBuyList {
    background: linear-gradient(90deg, #ff5a00, #FFB21D);
    height: 42px;
    color: white;
    width: 100%;
    border: 0px;
}

.row {
    margin: 0px !important;
}

.btnOrder {
    background: linear-gradient(90deg, #ff5a00, #FFB21D);
    font-size: 26px;
    color: white;
    width: 100%;
    border: 0px;
    text-align: center;
    cursor: pointer;
    padding: 10px 0px;
    margin: 10px 0px;
}

    .btnOrder:hover, .btnBuyList:hover {
        background: linear-gradient(90deg, #FFB21D, #ff5a00);
        box-shadow: 0 0 6px white;
        color: white;
    }

.hide {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block !important;
}

.btnDeleteCartItem {
    border: 0px !important;
    height: 34px;
    background: transparent !important;
    width: 100%;
    text-align: center;
}

    .btnDeleteCartItem:hover {
        color: white;
    }

.blockPopUp {
    white-space: pre-line;
    text-align: justify;
    padding: 20px 30px;
}

.btnBuyList:hover {
    border: 0px;
}

.btnBuy img, .btnBuy span, .btnBuyList img, .btnBuyList span, .btnBuyCart img, .btnDeleteCartItem img, .btnDeleteCartItem span {
    vertical-align: middle;
    padding-left: 5px;
}

.btnBuyCart span {
    vertical-align: middle;
    /*font-weight: bold;*/
    padding-left: 5px;
    font-size: 20px;
}

input#btnContinueBuys {
    border: 1px solid #474c7c;
    color: #3b328d;
    width: 80%;
    height: 51px;
}

input#btnCloseDetailWindow {
    background: #474c7c;
    border: 1px solid #474c7c;
    color: white;
    height: 51px;
    width: 20%;
}

.paymentMethod {
    border: 1px solid #c3c4c7;
    margin-bottom: 25px;
    background: white;
    padding: 5px;
}

    .paymentMethod:hover {
        box-shadow: 0 0 20px #c3c4c7;
    }

.smallPhotoes {
    max-width: 26%;
    max-height: 100px;
    margin: 9px;
    vertical-align: middle;
}

.openProductDEtailsBtn {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #ff5a00;
    /*font-weight: 500;*/
    cursor: pointer;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}
.garantedCardsTable {
    margin: 40px 0px 0px 0px;
    width:100%;
    text-align:center;
}
    .garantedCardsTable td {
        box-shadow: 0px 0px 5px grey;
        display: inline-block;
        padding: 20px;
        margin: 0px 10px;
    }
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.productNumberId {
    font-size: 18px !important;
    padding: 0px 5px;
    display: block;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
#tdTiresFilter {
    width:100%;
    text-align:center;padding:10px 0px;
    color:white;
    background:linear-gradient(90deg, #FFB21D, #ff5a00);
}
    #tdTiresFilter:hover {
        color: #ff5a00;
        background: white;
        border: 1px solid #ff5a00;
    }
    @media (min-width: 768px) {
        html {
        font-size: 16px;
    }
}

.divCallStyle {
    text-decoration: none;
    position: fixed;
    bottom: 5%;
    z-index: 9999;
    right: 5%;
}
@media only screen and (max-width: 700px) {
    .filterTd {
        width:25% !important;
    }
    .noProducts {
        font-size: 16px;
        padding: 20px;
    }
    .productNumberId {
        font-size: 14px !important;
        font-weight:600;
    }
    .garantedCardsTable {
        width: 100%;
    }
    .garantedCardsTable td {
        display:block;
    }    

    .iconCall {
        width: 90px;
    }

    #divPaymentContainer {
        padding: 20px 8px 0px 8px !important;
    }

    #divLeftOrderColumn, #divRightOrderColumn {
        display: block;
        width: 100%;
        max-width: 100%;
        flex: initial !important;
        min-height: initial !important;
    }

    .paymentMethod {
        min-height: 115px !important;
    }

    #divMainOrderBlock {
        padding: 0px !important;
    }

    .mainBlockTitleOrder {
        font-size: 14px !important;
        padding: 18px 8px !important;
    }

    .cartBackBtn {
        font-size: 14px !important;
        padding: 0px 5px !important;
        width: 80px !important;
    }

    .parentDivBreadCrumbs {
        display: inline-block !important;
        vertical-align: middle;
        width: 60px !important;
        height: 50px !important;
        cursor:pointer;
    }

    #divBreadcrumbsManufacture {
        display: inline-block;
    }

    .manufactureImageBreadcrumbs {
        max-width: 50px !important;
        vertical-align: top;
        max-height: 40px !important;
    }
    .modelImageBreadcrumbs {
        max-width: 50px !important;
        vertical-align: top;
        max-height: 30px !important;
    }

    #divBreadcrumbsItems {
        margin: 0px 0px 10px 0px !important;
    }

    .headerTitle {
        text-align: center;
        font-size: 14px;
        letter-spacing: 1px;
        word-spacing: 2px;
        color: white;
    }

    .headerImg {
        margin: 10px;
        width: 100%;
    }

    .leftIndexPanel, .rightIndexPanel {
        width: 100% !important;
        display: block;
    }

    #divLeftMenu {
        display: none;
    }

    .manufactureImage {
        max-width: 50px !important;
        max-height: 45px !important;
    }

    .parentDivManufacturer {
        width: 58px !important;
        height: 60px !important;
    }

    .topCategoryDiv {
        /*width: 75px !important;
        height: 85px !important;*/
        width: 39px !important;
        height: 50px !important;
        background: #E9EAFF;
        display: grid !important;
        justify-content: center;
        padding-top: 10px;
        cursor:pointer;
        box-shadow: 0 0 4px rgb(0 0 0 / 50%);
    }

    .TopCategoryImage {
        max-width: 37px !important;
        max-height: 26px !important;
    }

    .treeMainBlock {
        text-align: center;
        padding-bottom: 10px;
    }

    .footer {
        background: #23274d;
        position: inherit;
        bottom: 0;
        width: 100%;
        white-space: initial;
        line-height: 20px; /* Vertically center the text there */
    }

    #imgLoopBack {
        display: none;
    }

    .breadcrumbTitle {
        font-size: 16px;
    }

    .mainBlockTitle {
        box-shadow: 0 0 6px rgba(0,0,0,0.5);
        background: #EEEFFF;
        text-align: center;
        font-size: 14px;
        padding: 6px;
        /*font-weight: 500;*/
        color: #ff5a00;
        font-family: Open Sans,sans-serif;
        width: 100%;
        letter-spacing: 1px;
    }

    .inputSearchTopText {
        font-size: 14px;
        vertical-align: top;
        text-align: center;
    }

    .inputInsideBlock {
        text-align: center;
        padding-top: 10px;
    }

    .inputSearchBottomText {
        color: #ff5a00;
        font-size: 14px;
    }

    .inputControlBlock {
        margin: -10px 15px 20px 15px;
    }
    
    .loopBtn {
        display: inline-block;
        vertical-align: middle;
        width: 10%;
    }

    .manufactureTextTop {
        display: none !important;
        text-align: center;
        font-size: 8px;
        display: block;
        width: 37px;
        vertical-align: bottom;
        word-break: break-all;
    }

    .divSelectTopCategoryBlock {
        padding: 10px 0px 18px 0px;
        text-align: center;
    }

    header {
        padding-bottom: 10px;
    }

    .inputPart {
        font-size: 16px;
        height: 30px;
        width: 90%;
    }

    .loopImgPadding {
        padding-bottom: 0px;
        padding-top: 10px;
        width: 30px;
    }

    .manufactureText {
        text-align: center;
        font-size: 13px;
        overflow:hidden;
    }

    .modelImage {
        max-width: 85px;
        max-height: 60px;
        padding: 0px;
    }

    .parentDiv {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vmin;
        margin-left: 1vmin;
        width: 96px;
        height: 100px;
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
        padding: 5px;
    }

    .divCarModelsBlock {
        min-width: 50px;
        max-height: 60px;
        text-align: center;
    }

    .parentDivAutoParts {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vmin;
        margin-left: 1vmin;
        width: 96px;
        height: 155px;
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
        padding: 0px;
        cursor:pointer;
    }

    .modelImageAutoParts {
        max-width: 90px;
        max-height: 85px;
        padding-top: 5px;
    }

    .btnBackModelPage {
        color: white;
        padding: 0px 5px;
        /*font-weight: normal;*/
        display: inline-block;
        border-radius: 10px;
        font-size: 13px;
        float: left;
        text-transform: capitalize;
        background: #ff5a00;
        cursor:pointer;
    }

    .socialIcon {
        width: 30px !important;
    }

    .breadcrumbsStyle2 {
        min-width: 55px;
        max-height: 24px;
        text-align: center;
    }

    .breadcrumbsStyle1 {
        min-width: 55px;
        height: 30px;
        text-align: center;
    }

    .manufactureImageCategoryBreadcrumbs {
        max-width: 55px !important;
        max-height: 25px !important;
        vertical-align: top !important;
    }

    .manufactureTextBreadcrumbs {
        font-size: 6px !important;
        font-weight: normal !important;
    }

    .divProductHeadFilter {
        padding: 10px 0px;
        font-size: 12px;
        background: white;
    }

    ul.pagination li {
        padding: 0px 6px;
        font-size: 12px;
        color: white;
    }

    .openProductDEtailsBtn, .hide {
        position: initial !important;
        font-size: 15px;
    }

    .divProductListCard {
        background: white;
        padding: 10px;
        text-align: center;
        margin: 10px;
        border: 1px solid #c1c1c1;
        min-height: 220px;
    }

    .productTitle {
        font-size: 12px;
    }

    .enlargePhoto {
        padding: 5px 4px 15px 30px !important;
        margin-left: 40px;
    }

    .divProductPrice, divProductCurrency {
        font-size: 18px !important;
    }

    #priceDeliveryComment {
        font-size: 14px !important;
    }

    .btnBuyList {
        height: 33px !important;
    }

    .inline-blockPrice {
        border-top: 1px solid #c3c4c5;
        border-left: 0px !important;
        margin: 10px;
        padding: 10px;
    }

    #mainImageProduct {
        max-height: 120px !important;
    }

    .loadGif {
        width: 50px !important;
    }

    .titleBlock {
        padding: 0px 10px !important;
        text-align: center !important;
        font-size: 22px !important;
        padding-bottom: 10px !important;
    }

    .descriptionBlock {
        padding: 0px 10px !important;
        text-align: left !important;
    }

    #controlBlock {
        padding: 10px !important;
        margin-top: 10px;
        text-align: center !important;
    }

    .btnBuyNew {
        height: 31px !important;
        font-size: 16px;
    }

    .btnBuyNewCart {
        height: 55px !important;
        font-size: 16px !important;
        width:100% !important;
    }
    .divInputPartFilter {
        display: inline-block;
        vertical-align: middle;
        width: 80%;
    }
    .btnBuyNewCartOrder {
        width: 100% !important;
    }

        .btnBuyListSpan {
            font-size: 16px !important;
        }

    .divGoToCart {
        padding: 0px !important;
    }

    .divDeliveryTitle {
        padding: 0px !important;
    }

    h3 {
        font-size: 18px !important;
        padding: 0px !important;
        margin: 20px 0px 0px 0px !important;
    }

    .form-control {
        margin-top: 15px !important;
        height: 30px !important;
        font-size: 14px !important;
    }

    .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
        font-size: 14px !important;
        height: 30px !important;
    }

    .btnOrder {
        font-size: 18px;
        padding: 5px 0px;
    }

    .cartBlockMain {
        padding: 10px !important;
    }

    .cartTitle {
        font-size: 16px !important;
    }

    .leftCartColumn {
        display: block !important;
        width: 100% !important;
        padding-right: 0px !important;
    }

    #divDeliveryHeight {
        min-height: auto !important;
    }

    .inline-blockDeliveryText {
        font-size: 12px !important;
    }

    .inline-blockNovaPoshta, .inline-blockCourier {
        display: block !important;
    }

    .cartProductsPadding {
        padding: 0px !important;
    }

    .divCartControlButtons {
        margin: 20px 0px !important;
    }
    .divCartControlButtons td {
        margin: 10px 20px !important;
        display:block;
    }

    #mainCartTotalPrice, .cartCurrency {
        font-size: 24px !important;
        margin-bottom: 0px !important;
    }

    .footerTable, .footerTableSocial {
        width: 100%;
    }

        .footerTable td {
            text-align: center;
            display: block;
            width: 100%;
            padding: 10px 0px;
        }

        .footerTableSocial td {
            text-align: center;
            display: table-cell;
        }

        .footerTableSocial td {
            padding: 0px 10px !important;
            width: auto;
        }

    #divCssGarantedPay, #divCssUserDefend, #divCssDelivery {
        margin: 20px !important;
        box-shadow: 0px 0px 8px white;
        padding: 15px 0px !important;
        text-align: center !important;
    }

    #divGarantedPadding {
        padding: 0px !important;
    }

    .picGarantedPay {
        width: 50px !important;
    }

    .picUserDefend {
        width: 35px !important;
    }

    .garantedPayText {
        font-size: 14px !important;
    }

    .imgPayment {
        width: 50px !important;
    }

    .paymentTextDesign {
        font-size: 10px !important;
        white-space: initial !important;
    }

    #divBlock1, #divBlock2, #divBlock3, #divBlock4, #divBlock5, #divBlock6 {
        padding: 3px !important;
    }

    .tdPrivacyStyle {
        padding: 10px 40px !important;
    }
    
}

@media only screen and (min-width: 701px) {   

    .iconCall {
        width: 100px;
    }

    #divCartViewControl, #tblCartViewInnder {
        min-height: 100%;
        height: 100%;
    }

    #divCssUserDefend {
        margin: 50px 20px !important;
        padding: 20px;
        box-shadow: 0px 0px 13px white;
        min-height: 240px;
        max-height: 240px;
    }

    #divCssDelivery {
        margin: 50px 20px !important;
        padding: 40px 20px 0px 20px;
        box-shadow: 0px 0px 13px white;
        min-height: 240px;
        max-height: 240px;
    }

    #divCssGarantedPay {
        margin: 50px 20px !important;
        padding: 20px 20px 30px 20px;
        box-shadow: 0px 0px 13px white;
        min-height: 240px;
        max-height: 240px;
    }

    .footerTable, .footerTableSocial {
        width: 100%;
    }

        .footerTable td, .footerTableSocial td {
            text-align: center;
        }

        .footerTableSocial td {
            padding: 0px 10px !important;
        }

    .socialIcon {
        width: 40px !important;
    }

    .divProductListCard {
        background: white;
        padding: 10px;
        margin: 10px;
        border: 1px solid #c1c1c1;
        border-left: 4px solid blue;
        min-height: 220px;
        max-height: 220px;
    }
        .divProductListCard:hover {
            background: #f1f1f1;
        }
        .divProductHeadFilter {
            padding: 10px 20px 20px 20px;
            background: white;
        }

    .breadcrumbsStyle1 {
        min-width: 155px;
        min-height: 100px;
        max-height: 100px;
        text-align: center;
    }

    .breadcrumbsStyle2 {
        min-width: 155px;
        min-height: 90px;
        text-align: center;
    }

    .btnBackModelPage {
        color: white;
        padding: 0px 10px;
        font-weight: normal;
        display: inline-block;
        border-radius: 10px;
        font-size: 23px;
        float: left;
        text-transform: capitalize;
        background: #ff5a00;
        cursor:pointer;
    }

    .modelImageAutoParts {
        max-width: 165px;
        max-height: 135px;
        padding-top: 20px;
    }

    .parentDivAutoParts {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vmin;
        margin-left: 1vmin;
        width: 200px;
        height: 185px;
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
        padding: 6px;
        cursor:pointer;
    }

    .divCarModelsBlock {
        min-width: 155px;
        min-height: 115px;
        text-align: center;
    }

    .parentDiv {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vmin;
        margin-left: 1vmin;
        width: 200px;
        height: 150px;
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
        padding: 10px;
        cursor:pointer;
    }

    .modelImage {
        max-width: 185px;
        max-height: 115px;
    }

    .loopImgPadding {
        padding-bottom: 10px;
    }
    .loopImgPaddingFilter {
        padding-bottom: 0px;
    }

    .inputPart {
        font-size: 20px;
        height: 62px;
        width: 90%;
    }
    .inputPartFilter {
        font-size: 16px;
        height: 40px;
        width: 100%;
    }

    .divSelectTopCategoryBlock {
        padding: 20px 0px 28px 0px;
    }
    .manufactureTextTop {
        text-align: center;
        font-size: 16px;
        color: #06385f;
        font-family: Arial,Helvetica,sans-serif;
        overflow: hidden;
    }
    .manufactureText {
        text-align: center;
        font-size: 16px;
        color: #06385f;
        font-weight:200;
        font-family: Arial,Helvetica,sans-serif;
        overflow: hidden;
        /*font-weight: bold;*/
    }

    .loopBtn {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        text-align:center;
    }

    .inputControlBlock {
        margin: 80px 25px 0px 25px;
        background: white;
        padding: 0px 10px 8px 10px;
        box-shadow: 0px 0px 10px #ff5a00;
    }

    .inputSearchBottomText {
        color: #ff5a00;
        font-size: 48px;
    }

    .inputInsideBlock {
        margin-top: -40%;
        text-align: left;
        padding-left: 25px;
    }

    .inputSearchTopText {
        font-size: 60px;
        vertical-align: top;
        text-align: center;
    }

    .headerTitle {
        text-align: center;
        line-height: 90px;
        font-size: 2em;
        letter-spacing: 2px;
        word-spacing: 5px;
        color: white;
    }

    .headerImg {
        margin: 10px;
        width: initial;
    }

    .treeMainBlock {
        padding: 20px 0px 20px 0px;
        text-align: center;
    }

    .footer {
        background: #23274d;
        position: inherit;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px; /* Vertically center the text there */
    }

    .mainBlockTitle {
        box-shadow: 0 0 6px rgba(0,0,0,0.5);
        background: #EEEFFF;
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        padding: 6px;
        /*font-weight: 500;*/
        color: #ff5a00;
        font-family: Open Sans,sans-serif;
        width: 100%;
        letter-spacing: 1px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


/* Default page styles
-------------------------------------------------- */


.parentDivManufacturer {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
    margin-left: 1vmin;
    width: 165px;
    height: 150px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 10px;
    cursor:pointer;
}

.parentDivBreadCrumbs {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vmin;
    width: 200px;
    height: 130px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 5px;
    cursor:pointer;
}



.topCategoryDiv {
    background: #E9EAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
    margin-left: 1vmin;
    width: 143px;
    height: 130px;
    cursor:pointer;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 10px;
}

    .topCategoryDiv.selected {
        background: white;
        box-shadow: 0px 0px 8px #ff813c;
        color: #ff5a00;
    }



.manufactureTextBreadcrumbs {
    text-align: center;
    font-size: 12px;
    /*font-weight: bold;*/
}

.parentDiv:hover, .topCategoryDiv:hover, .parentDivAutoParts:hover, .parentDivManufacturer:hover {
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
}

input {
    border: 0px;
}



.loopBtn:hover {
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.leftIndexPanel {
    width: 33%;
    min-width: 33%;
    color: white;
    font-size: 40px;
    background: #504593;
    vertical-align: top;
    text-align: center;
}

.rightIndexPanel {
    background: #DCDEFF;
    box-shadow: 0 0 14px rgba(0,0,0,0.5);
    vertical-align: top;
}

.manufactureImage {
    max-width: 155px;
    max-height: 145px;
}

.manufactureImageCategoryBreadcrumbs {
    max-width: 155px;
    max-height: 100px;
}

.manufactureImageBreadcrumbs {
    max-width: 180px;
    max-height: 130px;
}
.modelImageBreadcrumbs {
    max-width:180px;
    max-height:100px;
}

.TopCategoryImage {
    max-width: 140px;
    max-height: 65px;
}

.mainBlockTitleOrder {
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    background: #EEEFFF;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    padding: 23px 16px;
    /*font-weight: 400;*/
    color: #ff5a00;
    font-family: Open Sans,sans-serif;
    width: 100%;
    letter-spacing: 1px;
}


.inline-block, .inline-blockPrice {
    display: inline-block;
    vertical-align: middle;
}

.field-validation-error {
    color: red;
    font-size: 16px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

@media(max-width: 880px) {
    .filterTd {
        width: 25% !important;
    }
    .detailBlock {
        width: 100% !important;
    }
    .tiresFilter td {
        padding: 0px 20px;
        width: 50%;
        display: inline-block;
    }
}

@media(max-width: 1360px) and (min-width:701px) {
    .garantedPayText {
        font-size: 20px !important;
    }

    #divGarantedPadding {
        padding-top: 5px !important;
    }

    .productTitle {
        font-size: 18px !important;
    }

    .divProductPrice {
        font-size: 26px !important;
    }

    .btnBuyList {
        font-size: 14px !important;
        height: 36px !important;
    }

    #priceDeliveryComment {
        font-size: 14px !important;
    }

    .topCategoryDiv {
        width: 95px;
    }

    .TopCategoryImage {
        max-width: 65px;
        max-height: 45px !important;
    }

    .btnBuyListSpan {
        font-size: 18px !important;
    }

    .emptyCartImg {
        width: 100px !important;
    }

    .btnBuyNew {
        min-height: 51px;
        height: auto;
    }

    .manufactureTextTop, #divLeftMenu {
        font-size: 12px !important;
    }

    #imgLoopBack {
        margin-top: 10% !important;
    }

    .inputInsideBlock {
        margin-top: -60% !important;
        font-size: 40px !important;
    }

    .inputSearchBottomText {
        font-size: 40px !important;
    }
    
    .loopBtn {
        width: 10% !important;
    }

    .inputControlBlock {
        margin: 50px 25px 0px 25px !important;
    }

    .divSelectTopCategoryBlock {
        text-align: center;
    }

    #divCssGarantedPay, #divCssUserDefend {
        min-height: initial !important;
        max-height: initial !important;
    }

    #divCssDelivery {
        min-height: initial !important;
        max-height: initial !important;
        padding: 40px 20px 30px 20px !important;
    }
}

@media(max-width: 1650px) and (min-width:1360px) {
    .garantedPayText {
        font-size: 20px !important;
    }

    #divCssDelivery {
        min-height: initial !important;
        max-height: initial !important;
        padding: 40px 20px 30px 20px !important;
    }

    #divGarantedPadding {
        padding-top: 5px !important;
    }

    #divCssGarantedPay, #divCssUserDefend {
        min-height: initial !important;
        max-height: initial !important;
    }

    .emptyCartImg {
        width: 100px !important;
    }

    .topCategoryDiv {
        width: 100px;
    }

    .TopCategoryImage {
        max-width: 85px;
        max-height: 45px !important;
    }

    .manufactureTextTop, #divLeftMenu {
        font-size: 12px !important;
    }

    #imgLoopBack {
        margin-top: 10% !important;
    }

    .inputInsideBlock {
        margin-top: -60% !important;
        font-size: 40px !important;
    }

    .inputSearchBottomText {
        font-size: 40px !important;
    }

    .loopBtn {
        width: 10% !important;
    }
    .divInputPartFilter {
        width: 89% !important;
    }
    .inputControlBlock {
        margin: 50px 25px 0px 25px !important;
    }

    .divSelectTopCategoryBlock {
        text-align: center;
    }
}
