@model WebApplication.Models.RightTreeViewModel;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Privacy Policy";
}

@if (@Model.ManufacturerSelected == null)
{    
    <div style="text-align:justify;">
        @foreach (var item in Model.ManufacturerList)
        {
        <div class="columnNanufacture">Авторазборка Шрот @item.Name</div>
        }
    </div>
}
