<script>
    $('#showmodal_PopUp').on('show.bs.modal', function (e) {
        console.log($(e.relatedTarget).data('myvalue')); // 190 will be printed
    });
</script>
<div class="modal-header">
    <h4 class="modal-title">Інструкція</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <video style="width:100%;" controls autoplay>
        <source src="~/video/videoInstructions.mp4" type="video/mp4">
    </video>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
</div>