<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NWTLZ5F');</script>
    <!-- End Google Tag Manager -->


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mobileMenu.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
    </script>-->
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    <title>@ViewBag.TitleText</title>
    <meta name="description" content="@ViewBag.TitleText" />

    <script src="~/js/site.js" asp-append-version="true"></script>

    <style>
        .menuItemDiv {
            padding: 15px 10px 15px 10px;
            margin: 0px 10px 0px 10px;
            border-bottom: 1px solid #3a3e69;
        }

            .menuItemDiv:hover {
                box-shadow: 0px 0px 10px #ff5a00;
            }

        .menuItemPic {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            width: 32px;
        }

        .simpleBtn {
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {            
           
            $("#divAboutUs").click(function () {
                $("#aboutInfo").toggle("slow", function () {
                    // Animation complete.
                });
            });
        });
        function TestScroll() {
            $('ul.pagination li').on("click", function () {
            $(window).scrollTop(0);
        });
        }
        function showFooterItem(itemName) {
            //infoFranchise  infoCooperate  infoBrands  infoAbout
            if (itemName == "#infoFranchise") {
                if ($(itemName).css("display") == "none") {
                    $(itemName).css("display", "block");
                    $("#infoCooperate").css("display", "none");
                    $("#infoBrands").css("display", "none");
                    $("#infoAbout").css("display", "none");
                }
                else {
                    $(itemName).css("display", "none");
                }
            }
            if (itemName == "#infoCooperate") {
                if ($(itemName).css("display") == "none") {
                    $(itemName).css("display", "block");
                    $("#infoFranchise").css("display", "none");
                    $("#infoBrands").css("display", "none");
                    $("#infoAbout").css("display", "none");
                }
                else {
                    $(itemName).css("display", "none");
                }
            }
            if (itemName == "#infoBrands") {
                if ($(itemName).css("display") == "none") {
                    $(itemName).css("display", "block");
                    $("#infoFranchise").css("display", "none");
                    $("#infoCooperate").css("display", "none");
                    $("#infoAbout").css("display", "none");
                }
                else {
                    $(itemName).css("display", "none");
                }
            }
            if (itemName == "#infoAbout") {
                if ($(itemName).css("display") == "none") {
                    $(itemName).css("display", "block");
                    $("#infoFranchise").css("display", "none");
                    $("#infoCooperate").css("display", "none");
                    $("#infoBrands").css("display", "none");
                }
                else {
                    $(itemName).css("display", "none");
                }
            }
        }
        function openLeftMenu(menu) {
            window.history.pushState(null, null, "/" + menu);
        }
        function openNavMenu() {
            if ($("#divLeftMenu").css("display") == 'none') {
                $("#divLeftMenu").css("display", 'block');
            }
            else {
                $("#divLeftMenu").css("display", 'none');
            }
        }
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
    <meta name="google-site-verification" content="pdu1x6QOUO9mXKsJr7KiYB_9GjQl-a8GM8I563AQwPk" />
</head>

<body style="background:#23274d;width:100%;">
    @*<div class="gtranslate_wrapper" style="text-align:center;"></div>
    <script>window.gtranslateSettings = { "default_language": "ua", "native_language_names": true, "detect_browser_language": true, "languages": ["pl", "en", "bg", "lv", "sk", "sl", "ka", "sv", "ro", "pt", "el", "hr", "cs", "da", "es", "it", "de", "fr", "ru"], "wrapper_selector": ".gtranslate_wrapper", "flag_style": "3d" }</script>
    <script src="https://cdn.gtranslate.net/widgets/v1.0.0/popup.js" defer></script>*@
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWTLZ5F"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Top Navigation Menu -->

    <div itemscope="" itemtype="http://schema.org/WebPage">
        <link itemprop="mainEntityOfPage" itemscope="" href="https://bi-bi.com.ua">
        <header>
            <div itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">

                <div class="topnav">
                    <div style="cursor:pointer;display:inline-block;vertical-align:middle;width:10%;text-align:center;" onclick="backToMainPage()" itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
                        <img itemprop="image url" src="~/images/sitelogoNew.webp" class="headerImg" />
                    </div>
                    <div class="siteTitle">
                        <div class="siteTitleInner">
                            <span itemprop="name" class="headerTitle"><span class="notranslate">АВТОРОЗБІРКА УКРАЇНИ І ЄВРОПИ В ОДНОМУ ВІКНІ</span></span>

                        </div>
                        <div class="siteTelelephone"><a href="tel:+38961408743" class="sitePhone" itemprop="telephone"><span class="notranslate">+38 (096) 140 87 43</span></a></div>
                    </div>
                    <div style="display:none;" class="divMobileMenu">
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a href="#home" class="active" style="display:none;"></a>
                    </div>
                    <div id="myLinks">
                        <div class="menuItemDiv" onclick="backToMainPage()" style="cursor:pointer;">
                            <div class="menuItemPic"><img src="~/images/Menu/Home.png" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">На головну</span></div>
                        </div>
                        <div class="cartWidgetMenu">
                            @{
                                Html.RenderPartial("CartWidget");
                            }
                        </div>

                        @*<div class="menuItemDiv" style="display:none;"><div class="menuItemPic"><img src="~/images/Menu/ServiceStations.png" /></div><div class="inline-block" style="color:#848ac2;">Послуги СТО</div></div>
                            <div class="menuItemDiv" style="display:none;"><div class="menuItemPic"><img src="~/images/Menu/Map.png" /></div><div class="inline-block" style="color:#848ac2;">Карта терміналів</div></div>*@
                        <div class="menuItemDiv" onclick="openLeftMenu('instructions')">
                            <button id='openInstructions' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="instructionsItem">
                                <div class="menuItemPic"><img src="~/images/Menu/Instructions.png" /></div><div class="inline-block" style="color:#848ac2;">
                                    <span class="notranslate">Інструкція</span>
                                </div>
                            </button>
                        </div>
                        <div class="menuItemDiv" onclick="openLeftMenu('warranty')">
                            <button id='openWarranty' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="warrantyItem">
                                <div class="menuItemPic"><img src="~/images/Menu/Warranty.png" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">Гарантія</span></div>
                            </button>
                        </div>
                        <div class="menuItemDiv" onclick="openLeftMenu('delivery')">
                            <button id='openDelivery' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="deliveryItem">
                                <div class="menuItemPic"><img src="~/images/Menu/Delivery.png" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">Доставка</span></div>
                            </button>
                        </div>
                        <div class="menuItemDiv" onclick="openLeftMenu('return')">
                            <button id='openReturn' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="returnItem">
                                <div class="menuItemPic"><img src="~/images/Menu/Return.png" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">Повернення</span></div>
                            </button>
                        </div>
                        <div class="menuItemDiv" onclick="openLeftMenu('partnership')">
                            <button id='openPartnership' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="partnershipItem">
                                <div class="menuItemPic"><img src="~/images/Menu/Partnership.png" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">Партнерство</span></div>
                            </button>
                        </div>
                        <div class="menuItemDiv" onclick="openLeftMenu('contacts')">
                            <button id='openContacts' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="contactsItem">
                                <div class="menuItemPic"><img src="~/images/Menu/new.png" style="max-width:26px;" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">Контакти</span></div>
                            </button>
                        </div>
                    </div>
                </div>
                <meta itemprop="telephone" content="+38 096 140 87 43">
                <meta itemprop="address" content="Україна">
                <meta itemprop="name" content="https://bi-bi.com.ua">
            </div>
        </header>

        <div class="container-fluid" style="padding:0px;">
            <div class="row">
                <div id="showmodal_PopUp" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document" style="width:60%;max-width:60%;">
                        <div class="modal-content">
                            @{
                                Html.RenderPartial("PopUpMenuBlock");
                            }
                        </div>
                    </div>
                </div>

                <main role="main" style="width:100%;">
                    <div class="container-fluid" style="padding:0px;">
                        <div class="row">
                            <div @*style="vertical-align:top;color:white; white-space:nowrap;width:10%;max-width:10%; padding-top:2%;"*@ class="col-1" id="divLeftMenu" style="max-width: 9.3%; padding: 0px;">

                                <div class="menuItemDiv" onclick="backToMainPage()" style="cursor:pointer;">
                                    <div class="menuItemPic"><img src="~/images/Menu/Home.png" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">На головну</span></div>
                                </div>
                                <div class="cartWidgetMenu">
                                    @{
                                        Html.RenderPartial("CartWidget");
                                    }
                                </div>

                                @*<div class="menuItemDiv" style="display:none;"><div class="menuItemPic"><img src="~/images/Menu/ServiceStations.png" /></div><div class="inline-block" style="color:#848ac2;">Послуги СТО</div></div>
                                    <div class="menuItemDiv" style="display:none;"><div class="menuItemPic"><img src="~/images/Menu/Map.png" /></div><div class="inline-block" style="color:#848ac2;">Карта терміналів</div></div>*@
                                <div class="menuItemDiv" onclick="openLeftMenu('instructions')">
                                    <button id='openInstructions' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="instructionsItem">
                                        <div class="menuItemPic"><img src="~/images/Menu/Instructions.png" /></div><div class="inline-block" style="color:#848ac2;">
                                            <span class="notranslate">Інструкція</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="menuItemDiv" onclick="openLeftMenu('warranty')">
                                    <button id='openWarranty' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="warrantyItem">
                                        <div class="menuItemPic"><img src="~/images/Menu/Warranty.png" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">Гарантія</span></div>
                                    </button>
                                </div>
                                <div class="menuItemDiv" onclick="openLeftMenu('delivery')">
                                    <button id='openDelivery' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="deliveryItem">
                                        <div class="menuItemPic"><img src="~/images/Menu/Delivery.png" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">Доставка</span></div>
                                    </button>
                                </div>
                                <div class="menuItemDiv" onclick="openLeftMenu('return')">
                                    <button id='openReturn' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="returnItem">
                                        <div class="menuItemPic"><img src="~/images/Menu/Return.png" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">Повернення</span></div>
                                    </button>
                                </div>
                                <div class="menuItemDiv" onclick="openLeftMenu('partnership')">
                                    <button id='openPartnership' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="partnershipItem">
                                        <div class="menuItemPic"><img src="~/images/Menu/Partnership.png" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">Партнерство</span></div>
                                    </button>
                                </div>
                                <div class="menuItemDiv" onclick="openLeftMenu('contacts')">
                                    <button id='openContacts' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="contactsItem">
                                        <div class="menuItemPic"><img src="~/images/Menu/new.png" style="max-width:26px;" /></div><div class="inline-block" style="color:#848ac2;"><span class="notranslate">Контакти</span></div>
                                    </button>
                                </div>
                            </div>
                            <div style="vertical-align:top;" class="col">
                                @RenderBody()
                            </div>
                            <div class="first">
                                <a class="divCallStyle" style="position: fixed !important;" href="tel:+380961408743"><img class="iconCall" src="~/images/call.gif" /></a>
                            </div>
                            <div class="second"><span class="notranslate">+38 096 140 87 43</span></div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <footer class="border-top footer text-muted">
            <table class="footerTable" style="table-layout:fixed;">
                <tr>
                    <td>
                        <div id="divFranchise" class="footerSmallItem" onclick="showFooterItem('#infoFranchise')"><span class="notranslate">Бізнес Франшиза</span></div>
                    </td>
                    <td>
                        <div id="divCooperate" class="footerSmallItem" onclick="showFooterItem('#infoCooperate')"><span class="notranslate">Співробітництво</span></div>
                    </td>
                    <td>
                        <div id="divBrands" class="footerSmallItem" onclick="showFooterItem('#infoBrands')"><span class="notranslate">Виробники запчастин</span></div>
                    </td>
                    <td>
                        <div id="divAboutUs" class="footerSmallItem" onclick="showFooterItem('#infoAbout')"><span class="notranslate">Про нас</span></div>

                    </td>
                </tr>
            </table>
            <div>
                <div id="infoAbout" class="footerInfoBlock">
                    <span class="notranslate">
                        У сфері авто бізнесу працюємо з 2009 року.
                        Компанія bi-bi.com.ua займається оптовим та роздрібним продажем автозапчастин та інформаційними послугами у сфері авто бізнесу.
                        У нашому інтернет магазині представлений широкий асортимент сертифікованих та кросових якісних товарів нові, б/в, відновлені на будь-який тип транспорту ( легкові, мікроавтобуси, вантажні, сільгосптехніка, спецтехніка, будівельна техніка, мотоцикли, водний транспорт, повітряний транспорт, велосипеди, мопеди, квадроцикли, шини, диски, аксесуари , олії, акумулятори, авто хімія, обладнання для СТО та багато іншого.На всю продукцію надаються документи та гарантія на встановлення.

                        Суть інтернет майданчика bi-bi.com.ua полягає в тому, щоб клієнти самостійно робили підбір потрібної деталі, використовуючи покрокові важелі від представленого та обраного товару + оформлення та отримання замовлення на вказану клієнтом адресу.
                        В інтернет магазині bi-bi.com.ua, при покупці автодеталей, варто звернути увагу на технічні характеристики представлених запчастин, оригінальних фотографій та опис деталей! Жоден менеджер, не дасть точного технічного опису деталі з багатьох причин, а це не припустимо при підборі, так як клієнт втрачає час гроші і настрій, і в кращому випадку це заміна або повернення.
                        У більшості випадків на прохання клієнтів даємо рекомендації щодо встановлення авто деталей у спеціалізованих СТО. Незважаючи на велику конкуренцію, наша компанія продовжує завойовувати серця наших автомобілістів, стимулюючи цим бути згуртованішим і впевненішим у завтрашньому дні. Що стосується доставки авто деталей з Європи, приблизні терміни 5-7 робочих днів, але не завжди вдається впоратися з цими термінами з різних причин!
                        І в першу чергу, це залежить навіть не від нас, а від ряду непередбачуваних ситуацій такі як великі черги на кордонах, очищення вантажу, поломка автомобілів служби доставки, та інше. Інтернет-майданчик bi-bi.com.ua орієнтований на кінцевого покупця, що робить цей ринок стабільним і не дає шансів перекупам збагатитися на Вашій проблемі.

                        bi-bi.com.ua - ЗРУЧНО ВИГІДНО НАДІЙНО!
                    </span>
                </div>
                <div id="infoBrands" class="footerInfoBlock" style="white-space:normal;">
                    <span class="notranslate">
                        Світові виробники запчастин для автомобіля
                        Німецькі виробники автозапчастин
                        * FEBI BILSTEIN
                        * MEYLE
                        * ATE
                        * BERU
                        * BOSCH
                        * ZIMMERMAN
                        * ZF
                        * SASCH
                        * PIERBURG
                        * FAG
                        * KNECHT
                        * LEMFORDER
                        * GLYCO
                        * RUVILLE
                        * MOOG
                        * Contitech
                        * Aks Dasis
                        * Corteco
                        * Elring
                        * Prasco
                        * LuK
                        * Sachs
                        * Vaico
                        * Johns
                        * Swag
                        * KM Germany
                        * Topran
                        * Truckrec Automotive
                        * Master-Sport
                        Французькі виробники автозапчастин
                        * ELF
                        * TOTAL
                        * SNR
                        * Sasic
                        * Valeo
                        Американські виробники автозапчастин (США)
                        * NONROE
                        * DELPHI
                        * TRW
                        * GATES
                        * Dayco
                        Нідерландські виробники автозапчастин
                        * SHELL
                        * AVA Quality Cooling
                        * Kawe
                        Італійські виробники автозапчастин
                        * BREMBO
                        * Hoffer
                        * Sidat
                        * Meat&Doria
                        * Fispa
                        * Raicam
                        Іспанські виробники автозапчастин
                        * ALUSA
                        * AUTOFREN
                        * 3RG
                        * Sercore
                        * Triclo
                        Англійські виробники автозапчастин
                        * FERODO
                        * COMMA
                        * CASTROL
                        * Lucas Electrical
                        * Borg&Beck
                        * Quinton Hazell
                        * Comline
                        * National
                        * Lucas Engine Drive
                        Датські виробники автозапчастин
                        * JP GROUP
                        * NIPPARTS
                        * Elstock
                        * DRI
                        * NK
                        * sbs
                        * Klokkerholm
                        * Triscan
                        Японські виробники автозапчастин
                        * KAYABA
                        * Denso
                        * Exedy
                        Корейські виробники автозапчастин
                        * CTR
                        Польські виробники автозапчастин
                        * ABE
                        * MAXGEAR
                        * POLCAR
                        * Loro
                        * Nexus
                        Шведські виробники автозапчастин
                        * SKF
                        Бельгійські виробники автозапчастин
                        * VAN WEZEL
                        Китайські виробники автозапчастин
                        * PATRON
                        Турецькі виробники автозапчастин
                        * MAPA
                        A-GIST
                        A-one parts
                        A-TECH
                        A.I.C. COMPETITION
                        A.L. FILTER
                        A.M.C
                        A.P.S
                        a.s.dixon
                        A&S
                        AAI AB COMPONENTS
                        AB TRUCK PARTS
                        AB-PARTS
                        ABA AUTOMOTIVE
                        ABAC
                        ABAKUS
                        ABAL
                        ABB FILTER
                        ABE
                        ABEX
                        ABG
                        ABLTON
                        ABRO (2)
                        ABS
                        ABSOLUT
                        ABSOLUTE
                        AC
                        ACA
                        ACADEMY
                        ACAP
                        ACAR
                        ACCEL
                        ACCUTEK
                        ACDelco
                        ACE
                        ACEMARK
                        ACERBI
                        ACHIM
                        ACHR
                        ACI - AVESA
                        ACKERMANN
                        ACKOJA
                        ACME-TRUMP
                        ACPS-ORIS
                        ACR
                        ACS TERMAL
                        ACS-CENTURION BIKE
                        ACTIVEAVTO
                        AD
                        AD Auto Detail
                        AD RADIATORS
                        ADBLUE (1)
                        ADD
                        ADDAX-Q
                        ADDINOL
                        ADG
                        ADI
                        ADK
                        ADL
                        ADLER
                        ADMAL
                        Adolf Bucher
                        ADR
                        ADRIAUTO
                        ADVANTECH
                        ADVICS
                        ADVSPORT
                        AE
                        AE&T
                        AEBI
                        AEC
                        Aeolus
                        AEP
                        AERO
                        AERO DESIGNS
                        Aerservice
                        AES
                        AEZ
                        AFA
                        AFFIX
                        AFTERMARKET CHINA
                        AGA
                        AGAMA
                        AGAT AVTO
                        AGC
                        AGC KAROSSERIE
                        AGCO
                        Agip
                        AGP
                        AGRALE
                        AGRIA
                        AGRIFULL
                        AGVSPORT
                        AHE
                        AHLE ORIGINAL
                        AHLMANN
                        AIKO
                        AILERON
                        AIM
                        AIM-ONE
                        AIMCO
                        AIMOL
                        AINDE
                        AION
                        AIR COMP - STAMPOTECNICA
                        AIR FREN
                        AIR REFINER
                        AIR TOP
                        AIR TRACTION
                        AIRBOSS
                        AIRCOMFORT
                        AIREXPERT
                        AIRFIL
                        AIRKRAFT
                        AIRLINE
                        AirMan
                        AIRMATIC
                        AIROGEAR
                        AIRPLEX
                        AIRPRO
                        AIRSEC
                        Airtech
                        AIRTEX
                        AIRZONE
                        AIS DRIVING
                        AISAN
                        AISIN
                        AIWA
                        AIXAM
                        AJUSA
                        AKAI
                        AKBAY
                        AKCELA
                        AKEBONO
                        AKERMAN VERKSTAD AB
                        AKG
                        AKIN OTO
                        AKITAKA
                        AKKUSSAN
                        AKOK
                        AKOP
                        AKRADO
                        AKRON
                        AKS
                        AKSTE
                        AKYOTO
                        AL KHATEEB
                        AL-KO
                        ALAN
                        ALANKO
                        ALASKA MASTER
                        ALBERT
                        ALBION
                        ALBRECHT
                        ALCA (1)
                        ALCAN
                        ALCASTA
                        ALCO
                        ALCOGRAN
                        AlcoSafe
                        ALCOSCENT
                        ALD Autoleader Electric
                        ALEKS
                        ALESSIO
                        ALFA FILTER
                        ALFA HANDELSKONTOR
                        ALFACAR
                        ALFECO
                        ALFRED HEYD
                        ALKAR
                        ALL BALLS RACING
                        ALL RIGHT
                        ALL-O-STAT
                        All4Motors
                        ALLIANCE
                        ALLIED NIPPON
                        ALLIED SIGNAL
                        ALLIEDFRAM
                        ALLIGATOR
                        ALLINQUANT
                        ALLIS-CHALMERS
                        ALLISON TRANSMISSION
                        ALLMAKES
                        ALLOMATIC
                        ALLOY
                        ALLRIGHT
                        ALMA
                        AlnasBrakes
                        ALOIS HIEBLE & CO
                        ALON
                        ALPHA FILTER
                        ALPHAS
                        ALPINE
                        ALS
                        ALTAIR
                        ALTO
                        ALU-FROST
                        ALUTEC
                        ALСA
                        AM
                        AM ENG
                        AMALIE
                        AMAT
                        AMATTI
                        AMC FILTER
                        AMD (4)
                        AME
                        AMERICAN EAGLE
                        AMERICAN MOTORS
                        AMERICAN RACING
                        AMIWA
                        AMK
                        AMMANN
                        AMORTEX
                        AMOS
                        AMP
                        AMPERE
                        AMS
                        AMSOIL
                        AMTEL
                        AMZ
                        ANAM
                        Anchor Industries
                        ANCO
                        ANDORIA
                        ANDRE NIERMANN
                        ANDTECH
                        ANDYCAR
                        ANGLI
                        ANJUN
                        ANKA
                        ANKAI
                        ANSA
                        ANTCH
                        ANTEO
                        ANTERA
                        ANTONIO MASIERO GEARS
                        ANVIS FRANCE
                        AOK
                        Aonaite
                        AOTON
                        AP
                        AP LOCKHEED
                        AP-LOGISTICS
                        APA
                        APAC
                        APC
                        APEC BRAKING
                        APELAS
                        APEX
                        API (1)
                        APK
                        APPLUS
                        APR (1)
                        APRILIA
                        APS
                        Aqc
                        Aquapel
                        AQUAPLUS
                        ARAGO
                        ARAGON
                        ARAL
                        ARB
                        ARBORI
                        ARC
                        ARCEK
                        ARCO
                        ARCTIC CAT
                        ARD
                        ARD DESIGN
                        AREOL
                        AREON
                        AREXONS
                        ARGENTUM
                        ARGO
                        ARI-IS
                        Ariete
                        ARIO
                        ARIRANG
                        ARIRANG TAXI
                        ARM
                        ARMAFILT
                        ARMATRAC
                        ArmorAll
                        ARMOURPLATE
                        ARMSTER
                        ARMSTRONG
                        ARNEST
                        ARNEZI (3)
                        ARNOTT
                        ARO
                        Aroma Car
                        Aroma Riche
                        ARP
                        ARR-28
                        ARREGUI
                        Arrivo
                        ARROW
                        ARROWHEAD
                        ARS
                        ART
                        ART PARTS
                        Arteb
                        ARTEC
                        ARTEK
                        ARTWAY (4)
                        ARVIN TESH
                        ARWIDSON OY
                        ARX
                        AS
                        AS METAL
                        AS-PL
                        AS-YA
                        ASAHI
                        ASAM
                        ASAS
                        ASATEX
                        ASHIKA
                        ASHIMORI
                        ASHOK LEYLAND
                        ASHUKI
                        ASIA MOTORS
                        ASIA360
                        ASIMCO
                        ASIN
                        ASK ME PARTS
                        ASMET
                        ASP
                        ASPAR
                        ASParts
                        ASPOECK
                        ASR
                        ASSO
                        ASTERRO
                        ASTON MARTIN
                        ASTRA
                        ASTROhim
                        ASUKI
                        ASUNA
                        ASV1
                        ASVA
                        ASW
                        AT
                        AT AUTOTEILE
                        ATAS
                        ATC
                        ATD
                        ATE (291)
                        ATEK
                        Atera
                        ATESO
                        ATEX
                        Atg
                        Athena
                        ATHEY
                        ATI
                        ATIHO
                        ATK
                        ATLANT (1)
                        Atlas
                        ATLAS WEYHAUSEN
                        ATOY
                        ATP
                        ATRO
                        ATS
                        ATTEX
                        ATY AUTOMOTIVE
                        AUDIOBAHN
                        AUDIOVOX
                        AUG
                        AUGER
                        AUGROS
                        AURADIA
                        AURAMI
                        AUROCHS
                        AURORA
                        AUSA
                        AUSTIN
                        AUTEX
                        AUTLOG
                        AUTO AIR GLOUCESTER
                        AUTO EXTRA
                        AUTO M
                        Auto Magic
                        AUTO PART
                        AUTO PARTS EUROPE
                        AUTO SUPPLIERS
                        AUTO TOP
                        AUTO TRANS
                        AUTO UNION
                        AUTO-CLIPS
                        AUTO-COMFORT
                        Auto-GUR
                        Auto-Hak
                        AUTO-KOOL
                        AUTOACC
                        AUTOBIANCHI
                        AutoBra
                        AUTOBRITE
                        AUTOCLIMA
                        AutoClover
                        Autocomponent
                        AUTODISTRUBUTION
                        AUTODOC
                        AUTODRIVE
                        AUTOELECTRO
                        AutoExpert
                        AUTOEXPRESS
                        AutoFlex
                        Autogamma
                        AUTOGASKET
                        AUTOGEM
                        AUTOKIT
                        Autoklakson
                        Autokrep
                        AUTOLAND
                        AUTOLEK INDIEN
                        AUTOLITE
                        AUTOLUXE
                        AutoM Filter
                        AUTOMANN
                        AUTOMATIC CHOICE
                        AUTOMOTIVE BEARINGS
                        Automotive Lighting
                        AUTOMOTIVE PARTS
                        AUTOMOTOR
                        AUTOMOTORFRANCE
                        AUTOMUFFLER
                        AUTONAVI
                        AUTONIC
                        AUTOPAL
                        AUTOPARCT
                        AUTOPART
                        AUTOPARTNER
                        AUTOPLUS
                        AUTOPROFI
                        AUTOSAN
                        AUTOSFEC
                        AUTOSHIELD
                        AUTOSOL
                        AUTOSPECIALTY
                        AUTOSPEED
                        AUTOSTANDART (1)
                        AUTOTEAM
                        AUTOTECH
                        AUTOTECHNICS
                        AUTOTECHNIK
                        Autotechteile
                        AUTOTEMP
                        AUTOUPOR
                        AUTOVENTIL
                        AUTOVER
                        AUTOVIRAZH
                        AUTOWELT
                        AUTOX
                        AUVERLAND
                        AUWARTER
                        AV Autotechnik
                        AVA (1)
                        AVALANCHE
                        AVANTECH
                        AVE
                        AVELING BARFORD
                        AVENUE
                        AVERTRUCK
                        AVF
                        AVG
                        AVIA
                        Aviel
                        AVIORA
                        AVL KRAFTTECHNIK
                        AVM
                        AVROTEC
                        AVS
                        AVTECH
                        AVTOBRAKE
                        Avtodriver
                        AVTOELECTRICA
                        AVTOFLEX
                        AVTOLIDER1
                        AVTOPLAST
                        AVTOREAL
                        AvtoS
                        AVTOSTANDART
                        Avvauto
                        AVVK/REZKON
                        AWB
                        AWG
                        AWM
                        AXIOM
                        AXITO
                        AXLE DYNAMICS
                        AXSIS
                        AYD
                        AYDINSAN
                        AYFAR
                        AYWIPARTS
                        AZARD
                        AZF
                        AZTEC
                        AZUMI
                    </span>
                </div>
                <div id="infoFranchise" class="footerInfoBlock">
                    <span class="notranslate">
                        Інновація у сфері бізнесу!
                        Франшиза на повній автоматиці!

                        Програма розроблена провідними європейськими фахівцями у галузі маркетингу та IT.
                        Ми пропонуємо!
                        Багатофункціональний магазин на повній автоматизації із двома сенсорними екранами 43 (діагональ).
                        Верхній екран рекламний (розміщення реклами)
                        Нижній екран інформаційний (продаж розміщення послуги)
                        В одному вікні 65 млн деталей нових, б/в, відновлених
                        Автозапчастини на легкові, автобуси, вантажні, спецтехніку, сільгосптехніку, мото, вело, водний та повітряний транспорт, шини, диски, аксесуари, олії, авто хімія, мото екіпірування, товари для СТО.
                        Програма виконує автоматичну функцію від замовлення до отримання товару!

                        Мінімальні інвестиції, найвищий стабільний дохід!

                        ПЕРЕВАГИ

                        Пасивний дохід 7/24/365
                        Локальне SEO
                        Синхронізація автомагазину-терміналу з мобільними пристроями, комп'ютерами, планшетами та іншими пристроями.
                        Бізнес під ключ на повній автоматиці
                        Власник власного бізнесу із стабільним доходом
                        Власник заробляє високий маржинальний % від продажу в терміналі (% залежить від кількості придбаних терміналів)
                        Власник отримує від рекламних послуг (верхній екран).

                        Власнику терміналу не потрібно:

                        Вести бухгалтерський облік
                        Закуповувати та відправляти товар
                        Утримувати склади та офіс
                        Купувати ліцензійні програми
                        Приймати на роботу та навчати персонал
                        Відповідати на телефонні дзвінки.
                        Власник отримує гарантію на прибуток, за дотримання всіх рекомендацій та правил прописаних у договорі.
                        В автомагазині-терміналі 5 способів оплати без доступу до ваших фінансових та особистих даних
                        Особистий кабінет з ID терміналу, статус та історія замовлень, баланс рахунку, автоматичне виведення коштів на рахунок, або картку.
                        Стабільний пасивний дохід під час економічної, політичної та геополітичної кризи.
                        Мінімальні інвестиції-Високий дохід!

                        Окупність
                        *Готовий бізнес під ключ: 360.000
                        *Охоплення людей: від 3.000/день
                        *Дохід/міс: від 45.000 грн+
                        *Дохід/рік: від 540.000 грн+
                        *Окупність: 5 - 7 міс
                        *Регіони розвитку: Україна
                        *Площа: 1м2
                        *Техпідтримка: 24/7
                        *Персонал: 0 чол

                        Винятково для тих, хто бачить себе лідерами ринку, цінує споживчий попит, як збільшення власного продажу та портфеля компанії!

                        Розглядаємо ексклюзивні права у Вашому регіоні.
                        P.S. Тільки геолокація може залучити великий трафік із цільової аудиторії. Концепція орієнтована кінцевого покупця і поєднує у собі риси як онлайн, і традиційної торгівлі. За допомогою автомагазину-терміналу, клієнт може вибрати необхідні деталі, скориставшись пошуком за VIN кодом, назвою автомобіля, за артикулом (парт-номером). У відповідь на запит формується список релевантних речень з фото та технічними описами.
                        Зручно! Вигідно! Надійно!
                        Всі права захищені! Всі товарні знаки, логотипи та знаки обслуговування є власністю. Патент діє у 96 країнах світу.
                        Запрошуємо до співробітництва!
                    </span>
                </div>
                <div id="infoCooperate" class="footerInfoBlock">
                    <span class="notranslate">
                        Інноваційна Компанія bi-bi.com.ua запрошує до співпраці регіональних дилерів, партнерів, торгових представників щодо розвитку дилерської мережі в Україні.
                        Інноваційна Компанія bi-bi.com.ua – з найбільшою мережею з продажу автозапчастин та послуг на ринку України. Прогресивно розвиваючись, запрошує до своєї команди молодих перспективних людей, які хочуть розвиватися і добиватися великих вершин у кар'єрі.
                        Компанія bi-bi.com.ua є власником, виробником автомагазинів-терміналів із ПЗ. Автомагазини-термінали самообслуговування - це найбільша on-line і off-line платформа з продажу та безкоштовного розміщення нових і б/в автозапчастин на будь-який вид транспорту!
                        Дуже зручними і легкими у використанні, є автомагазини-термінали не тільки для клієнтів, але і для їх власників – навіть якщо це бізнесмени-початківці.
                        Що входить у розвиток дилерської мережі;
                        Залучення партнерів з розміщення нових та б/у товарів.
                        Залучення рекламодавців для розміщення реклами на верхньому екрані автомагазину-терміналу
                        Для встановлення та підключення автомагазину-терміналу потрібно до 1м² площі, і розетка із заземленням 220V.
                        Всі права захищені! Всі товарні знаки, логотипи та знаки обслуговування є власністю. Патент діє у 96 країнах світу.
                        Почніть заробляти від 45000 грн/місяць, на послугах із залучення клієнтів. Ви будете рятувати інші компанії від кризи та отримувати стабільні абонентські платежі.
                        Докладніше ознайомитися з умовами співробітництва, ви можете залишити заявку або зателефонувати.

                        Переваги співробітництва:

                        + Високий, прогресивний % від угод
                        + Можливість самостійно планувати свій робочий день
                        + Навчання (стажування безкоштовно).
                        + Надання матеріалів для старту.
                        + Маркетингова підтримка.
                        + На старті з бізнесом можуть впоратися 1 особа.
                        + Робота за агентським договором
                        + Перспективи кар'єрного та професійного зростання
                        + Успішні співробітники приймаються в штат компанії з постійним окладом та повним соціальним пакетом.

                        Вимоги до партнерів:

                        Досвід підприємницької діяльності
                        Побудова та розвиток дилерської мережі
                        Наявність комерційних зв'язків
                        Досвід особистих активних прямих продаж
                        Хороші комунікативні навички та організаторські здібності
                        Відповідальність
                        Чесність
                        Порядність
                        Комунікабельність
                        Пунктуальність
                        Цілеспрямованість

                        Кого ми запрошуємо:

                        Ви завжди рухаєтеся вперед і не боїтеся перешкод.
                        Ви комунікабельний і легко знаходите спільну мову з клієнтом.
                        Ви можете продавати.
                        Ви працюєте лише на результат.
                        Ви готові навчатись.
                        З повагою компанія bi-bi.com.ua.
                    </span>
                </div>
            </div>
            <table class="footerTable">
                <tr>
                    <td colspan="3" class="tdPrivacyStyle" style="background: beige; margin: 10px 0px;">&copy; 2009-2022 - Інтернет магазин bi-bi.com.ua - <a asp-area="" asp-controller="Home" asp-action="Privacy"><span class="notranslate">Політика конфіденційності</span></a></td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span style="font-size:18px;color:#a7a7a7;" class="notranslate">infobibimarket@gmail.com</span>
                        </div>
                    </td>
                    <td>
                        <span class="notranslate" style="font-size:18px;color:#a7a7a7;">© 2009 «EK4CAR & BI-BI». Всі права захищені</span>
                    </td>
                    <td>
                        <table class="footerTableSocial">
                            <tr>
                                <td style="cursor:pointer;" onclick="window.open('https://www.facebook.com/Автозапчастини-247-103538094588098')"><img src="~/images/Social/facebook.png" style="width:30%;" class="socialIcon" /></td>
                                <td style="cursor:pointer;" onclick="window.open('https://www.instagram.com/ek4car_cn/')"><img src="~/images/Social/instagram.png" style="width:30%;" class="socialIcon" /></td>
                                <td style="cursor:pointer;" onclick="window.open('https://www.youtube.com/channel/UCahH44dE4C6ZSiOr-SPMqFA')"><img src="~/images/Social/youtube.png" style="width:30%;" class="socialIcon" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="white-space: normal; font-size: 10px; line-height: 14px; padding: 20px;">
                        <span class="notranslate" style="color: #a7a7a7;">
                            Всі матеріали цього сайту є об'єктами авторського права (у тому числі дизайн, тексти, фотографії та будь-яка інша інформація). Забороняється будь-яке використання чи копіювання матеріалів чи добірки матеріалів сайту, елементів дизайну та оформлення допускається лише з дозволу правовласника та лише з посиланням на джерело: https://bi-bi.com.ua/ Попереджаємо про відповідальність за копіювання інформації без згоди правовласника. Авторське право поширюється на твори, виражені у будь-якій об'єктивній формі – у тексті на листку, сайті в Інтернеті тощо. (п. 3 ст. 1259 Цивільного кодексу), незалежно від переваг, цінності об'єкта авторського права (п. 1 ст. 1259 Цивільного кодексу).
                        </span>
                    </td>
                </tr>
            </table>
        </footer>
    </div>

</body>
</html>
