<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Scripts", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
    </script>-->
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

    

    <script src="~/js/site.js" asp-append-version="true"></script>

    <style>
        .menuItemDiv {
            padding: 15px 10px 15px 10px;
            margin: 0px 10px 0px 10px;
            border-bottom: 1px solid #3a3e69;
        }

            .menuItemDiv:hover {
                box-shadow: 0px 0px 10px #ff5a00;
            }

        .menuItemPic {
            display: inline-block;
            vertical-align: middle;
            width: 35px;
        }

        .simpleBtn {
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
        }
    </style>
</head>
<body style="background:#23274d;width:100%;">
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <header>
        <div class="container-fluid">
            <div class="row" style="text-align: center; line-height: 90px; font-size: 2.3em; letter-spacing: 2px; word-spacing: 5px;color:white;">
                <div class="col-1" style="cursor:pointer;" onclick="backToMainPage()">
                    <img src="~/images/Logo.png" style="margin:10px;width:inherit;" />
                </div>
                <div class="col-11">АВТОРОЗБІРКИ УКРАЇНИ І ЄВРОПИ В ОДНОМУ ВІКНІ</div>
            </div>
        </div>
    </header>
    <div class="container-fluid" style="padding:0px;">
        <div class="row">
            <div id="showmodal_PopUp" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document" style="width:60%;max-width:60%;">
                    <div class="modal-content">
                        @{
                            Html.RenderPartial("PopUpMenuBlock");
                        }
                    </div>
                </div>
            </div>

            <main role="main" style="width:100%;">
                <div class="container-fluid" style="padding:0px;">
                    <div class="row">
                        <div @*style="vertical-align:top;color:white; white-space:nowrap;width:10%;max-width:10%; padding-top:2%;"*@ class="col-1" style="max-width: 9.3%; padding: 0px;">
                            <div class="menuItemDiv">
                                <a asp-area="" asp-controller="Home" asp-action="Index">
                                    <div class="menuItemPic"><img src="~/images/Menu/Home.png" /></div><div class="inline-block" style="color:#848ac2;">На головну</div>
                                </a>
                            </div>
                            <div style="padding:100px 0px 100px 0px;text-align:center;color:#848ac2;">
                                @{
                                    Html.RenderPartial("CartWidget");
                                }
                            </div>
                            @*<div class="menuItemDiv" style="display:none;"><div class="menuItemPic"><img src="~/images/Menu/ServiceStations.png" /></div><div class="inline-block" style="color:#848ac2;">Послуги СТО</div></div>
                                <div class="menuItemDiv" style="display:none;"><div class="menuItemPic"><img src="~/images/Menu/Map.png" /></div><div class="inline-block" style="color:#848ac2;">Карта терміналів</div></div>*@
                            <div class="menuItemDiv">
                                <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="instructionsItem">
                                    <div class="menuItemPic"><img src="~/images/Menu/Instructions.png" /></div><div class="inline-block" style="color:#848ac2;">
                                        Інструкція
                                    </div>
                                </button>
                            </div>
                            <div class="menuItemDiv">
                                <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="warrantyItem">
                                    <div class="menuItemPic"><img src="~/images/Menu/Warranty.png" /></div><div class="inline-block" style="color:#848ac2;">Гарантія</div>
                                </button>
                            </div>
                            <div class="menuItemDiv">
                                <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="deliveryItem">
                                    <div class="menuItemPic"><img src="~/images/Menu/Delivery.png" /></div><div class="inline-block" style="color:#848ac2;">Доставка</div>
                                </button>
                            </div>
                            <div class="menuItemDiv">
                                <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="returnItem">
                                    <div class="menuItemPic"><img src="~/images/Menu/Return.png" /></div><div class="inline-block" style="color:#848ac2;">Повернення</div>
                                </button>
                            </div>
                            <div class="menuItemDiv">
                                <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="partnershipItem">
                                    <div class="menuItemPic"><img src="~/images/Menu/Partnership.png" /></div><div class="inline-block" style="color:#848ac2;">Партнерство</div>
                                </button>
                            </div>


                            <div class="menuItemDiv" style="white-space:initial;margin:0px;">
                                <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="GarantedPayItem">
                                    <div class="menuItemPic" style="width:50px;"><img src="~/images/OrderAdvert/GarantedPay.png" width="50" /></div><div class="inline-block" style="color:#848ac2;text-align:center;"><div>Гарантований платіж</div><div>Безпечна покупка</div></div>
                                </button>
                            </div>
                            <div class="menuItemDiv" style="white-space:initial;margin:0px;">
                                <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="dostavka100Item">
                                    <div class="menuItemPic" style="width:50px;"><img src="~/images/OrderAdvert/dostavka100.png" width="50" /></div><div class="inline-block" style="color:#848ac2;text-align:center;">Безкоштовна доставка до 30кг</div>
                                </button>
                            </div>
                            <div class="menuItemDiv" style="white-space:initial;margin:0px;">
                                <button id='open' class="simpleBtn" data-toggle="modal" data-target="#showmodal_PopUp" data-menuitem="User100Item">
                                    <div class="menuItemPic" style="width:50px;"><img src="~/images/OrderAdvert/User100.png" width="50" /></div><div class="inline-block" style="color:#848ac2;text-align:center;"><div>Захист споживача</div><div>Гарантія на товар</div></div>
                                </button>
                            </div>
                        </div>
                        <div style="vertical-align:top;" class="col">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="col">&copy; 2021 - Інтернет магазин bi-bi.com.ua - <a asp-area="" asp-controller="Home" asp-action="Privacy">Політика конфіденційності</a></div>
                <div style="display:inline-block;vertical-align:middle;">
                </div>
                <div class="col">
                    <div class="row">

                        <div class="col" style="cursor:pointer;" onclick="window.open('https://www.facebook.com/Автозапчастини-247-103538094588098')"><img src="~/images/Social/facebook.png" style="width:40%;" /></div>
                        <div class="col" style="cursor:pointer;" onclick="window.open('https://www.instagram.com/ek4car_cn/')"><img src="~/images/Social/instagram.png" style="width:40%;" /></div>
                        <div class="col" style="cursor:pointer;" onclick="window.open('https://www.youtube.com/channel/UCahH44dE4C6ZSiOr-SPMqFA')"><img src="~/images/Social/youtube.png" style="width:40%;" /></div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <span style="font-size:18px;color:#a7a7a7;">Гаряча лінія: 050 508 81 08</span>
                    </div>
                </div>
                <div class="col">
                    <span>© 2021 «EK4CAR & BI-BI». Всі права захищені</span>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
