<script type="text/javascript">
    function ReturnToCart() {
        window.location.href = '/Product/CartView/'
    }
    function ReturnToDelivery() {
        window.location.href = '/Product/Delivery/'
    }
</script>
<div style="padding-bottom:30px;">Ваша корзина</div>
@if (@ViewData["CartWidgetPrice"] != null)
{
    <div id="cartWidgetValue">
        <div onclick="ReturnToCart()">
            Посмотреть
        </div>
        <div>
            <span id="cartWidgetPrice">@ViewData["CartWidgetPrice"]</span> грн.
        </div>
    </div>
}
<img src="~/images/Cart/CartWidgetEmptyBig.png" class="emptyCartImg" />

