<script type="text/javascript">
    function ReturnToCart() {
        window.location.href = '/Product/CartView/'
    }
</script>
@if (@ViewData["CartWidgetPrice"] == null) { 
<div>
    <div>Ваша корзина пуста</div>
    <img src="~/images/Cart/CartWidgetEmptyBig.png" />
</div>
}
else {
    <div onclick="ReturnToCart()">
        Переглянути
    </div>
    <div>
        <span id="cartWidgetPrice">@ViewData["CartWidgetPrice"]</span> грн.
    </div>
}
    
