<script type="text/javascript">
    function ReturnToCart() {
        window.location.href = '/Product/CartView/'
    }
    function ReturnToDelivery() {
        window.location.href = '/Product/Delivery/'
    }
</script>
<div style="padding-bottom:30px;">Ваша корзина</div>
@if (@ViewData["CartWidgetPrice"] != null)
{
    <div id="cartWidgetValue">
        <div onclick="ReturnToCart()" style="cursor:pointer;">
            <span class="notranslate">Посмотреть</span>
</div>
        <div>
            <span id="cartWidgetPrice" class="notranslate">@ViewData["CartWidgetPrice"]</span> <span class="notranslate">UAH</span>
</div>
    </div>
}
<img src="~/images/Cart/CartWidgetEmptyBig.png" class="emptyCartImg" />

