<script>
    $('#showmodal_PopUp').on('show.bs.modal', function (e) {
        var menuItemName = $(e.relatedTarget).data('menuitem'); // 190 will be printed

        $("#instructionsItem").css("display", menuItemName == "instructionsItem" ? "block" : "none");
        $("#instructionsItemTitle").css("display", menuItemName == "instructionsItem" ? "block" : "none");
        $("#deliveryItem").css("display", menuItemName == "deliveryItem" ? "block" : "none");
        $("#deliveryItemTitle").css("display", menuItemName == "deliveryItem" ? "block" : "none");
        $("#partnershipItem").css("display", menuItemName == "partnershipItem" ? "block" : "none");
        $("#partnershipItemTitle").css("display", menuItemName == "partnershipItem" ? "block" : "none");
        $("#contactsItem").css("display", menuItemName == "contactsItem" ? "block" : "none");
        $("#contactsItemTitle").css("display", menuItemName == "contactsItem" ? "block" : "none");
        $("#returnItem").css("display", menuItemName == "returnItem" ? "block" : "none");
        $("#returnItemTitle").css("display", menuItemName == "returnItem" ? "block" : "none");
        $("#warrantyItem").css("display", menuItemName == "warrantyItem" ? "block" : "none");
        $("#warrantyItemTitle").css("display", menuItemName == "warrantyItem" ? "block" : "none");
        $("#GarantedPayItem").css("display", menuItemName == "GarantedPayItem" ? "block" : "none");
        $("#GarantedPayTitle").css("display", menuItemName == "GarantedPayItem" ? "block" : "none");
        $("#dostavka100Item").css("display", menuItemName == "dostavka100Item" ? "block" : "none");
        $("#dostavka100Title").css("display", menuItemName == "dostavka100Item" ? "block" : "none");
        $("#User100Item").css("display", menuItemName == "User100Item" ? "block" : "none");
        $("#User100Title").css("display", menuItemName == "User100Item" ? "block" : "none");
    });

</script>
<div class="modal-header">
    <div id="instructionsItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Інструкція</span>
</h4>
    </div>
    <div id="deliveryItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Доставка</span>
</h4>
    </div>
    <div id="partnershipItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Партнерство</span>
</h4>
    </div>
    <div id="contactsItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Контакти</span>
</h4>
    </div>
    <div id="returnItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Повернення</span>
</h4>
    </div>
    <div id="warrantyItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Гарантія</span>
</h4>
    </div>
    <div id="GarantedPayTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Гарантований платіж. Безпечна покупка.</span>
</h4>
    </div>
    <div id="dostavka100Title" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Безкоштовна доставка до 30кг</span>
</h4>
    </div>
    <div id="User100Title" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Захист споживача. Гарантія товару.</span>
</h4>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div id="instructionsItem" style="display:none;">
        <video style="width:100%;" controls autoplay>
            <source src="~/video/videoInstructions.mp4" type="video/mp4">
        </video>
        <p style="padding: 20px 40px; white-space: pre-line; text-align: justify;" class="notranslate">
            Як замовити товар в інтернет магазині bi-bi.com.ua

            Інтернет магазин bi-bi.com.ua призначений для самостійного підбору та замовлення запчастин, технічних рідин та аксесуарів для ваших транспортних засобів за цінами нижчими за роздрібні.

            Пошук автозапчастин в інтернет магазині Ви можете здійснити, використовуючи механізм пошук за номером запчастини в лівій частині інтерфейсу або використовуючи інтерфейс у правій частині Марка автомобіля - модель - категорія запчастин.

            Вибравши потрібний Вам товар, Ви натискаєте купити та потрапляєте в кошик покупок, де відображається товар, який Ви хочете купити в інтернет магазині bi-bi.com.ua. У кошику Ви можете змінити кількість товару, купуєте, а також продовжити покупки чи оформити замовлення.

            Оформлення замовлення.
            На сторінці оформлення замовлення інтернет-магазину bi-bi.com.ua Ви повинні заповнити:
            1) Ваші контактні дані (прізвище, ім'я та по батькові; мобільний номер телефону)
            2) Вибрати тип доставки та адресу доставки

            Після чого підтвердіть замовлення та Ви будете перенаправлені на сторінку способів оплати, які Вам зручні.

            Увага! Неправильно вказаний номер телефону, неточна або неповна адреса доставки може призвести до затримки доставки замовлення, тому будьте уважні під час заповнення даних.
        </p>
    </div>
    <div id="deliveryItem" style="display:none;">
        <pre style="white-space: pre-wrap;" class="notranslate">
    Терміни доставки та оплати по Україні

    * Доставка товару по Україні здійснюється службою Нова Пошта
    * Доставка товару кур'єром
    * Доставка товару здійснюється після 100% оплати його вартості.
    * Терміни доставки по Україні від 12 до 72 годин в залежності від відстаней та габаритів вантажу
    * Весь товар підлягає страхуванню на відділенні Нової пошти, на суму еквівалентну його вартості. При отриманні товару одержувач зобов'язаний перевірити його безпосередньо у відділенні транспортної компанії. Якщо будуть виявлені пошкодження, що виникли під час перевезення, тоді необхідно скласти акт приймання-передачі та оформити претензію (без цих документів не виплатять компенсацію за пошкоджений товар)

    Терміни доставки та оплати з Європи:

    * Малогабаритні товари від 2 до 5 робочих днів!
    * Великогабаритні товари від 3 до 10 робочих днів!
    * Доставка товару здійснюється після 100% оплати його вартості.

    Якщо ви готові придбати якісні деталі для авто, необхідно пам'ятати, що у них має бути певна вага та фіксована вартість. Якщо маса або ціна перевищують встановлений ліміт, Вам доведеться заплатити податки, збільшує собівартість вантажу.
Розмитнення автозапчастин, як правило, передбачає розмір мита 5-15% та 20% ПДВ. Тут слід враховувати факт, кожна деталь має свій код ТН ЗЕД і, відповідно, свою ставку мита на запчастини. Від цього безпосередньо залежить необхідність проходження дозвільних процедур та сертифікації.
Габаритні Автозапчастини перевищують вагу понад 50 кг, такі як: чверть кузова, дахи, лобове та задне скло авто та інші габаритні кузовні запчастини, передбачаються додаткові оплати. Номерні агрегати (двигун, КПП та АКПП, Мости та ін) підлягають митному оформленню. Товар, ціна якого перевищує суму понад 200 євро, також підлягає митному оформленню.
        </pre>
    </div>
    <div id="partnershipItem" style="display:none;">
        <pre style="white-space: pre-wrap;" class="notranslate">
    Компанія bi-bi.com.ua запрошує до співпраці регіональних дилерів, партнерів, торгових представників із розвитку дилерської мережі в Україні.

    ФРАНШИЗА З гарантованого прибутку ЗА ДОГОВОРОМ НА ПОВНІЙ АВТОМАТИЗАЦІЇ!

    Інноваційна компанія bi-bi.com.ua – з найбільшою мережею з продажу автозапчастин та послуг на ринку України. Прогресивна запрошує у свою команду молодих перспективних людей, які хочуть розвиватися і добиватися великих вершин у кар'єрі.
Компанія bi-bi.com.ua є власником, виробником автомагазинів-терміналів із ПЗ. Автомагазини-термінали самообслуговування - це сама on-line та of-line платформа з продажу та безкоштовного розміщення нових та уживаних автозапчастин на будь-який вид транспорту! (легковий, вантажний, мото-вело, сільгосптехніка, шини, диски, обладнання для сто та ін.)
Дуже зручними та легкими у використанні є автомагазини-термінали не тільки для клієнтів, але й для їх власників - навіть якщо це бізнесмени.
    Що входить у розвиток дилерської мережі:
    - продаж франшизи автомагазину-терміналу з гарантією окупності за договором.
    - Залучення партнерів з розміщення нових та б/в товарів.
    - залучення рекламодавців для розміщення реклами на верхньому екрані автомагазину-терміналу
    - Для встановлення та підключення автомагазину-терміналу потрібно до 1м2 площі, і розетка із заземленням 220V)
    Всі права захищені! Всі товарні знаки, логотипи та знаки обслуговування є власністю. Патент діє у 96 країнах світу.
    Почніть заробляти від 45 000 грн/місяць, на послугах із залучення клієнтів. Ви будете рятувати інші компанії від кризи та отримувати стабільні абонентські платежі.
    Докладніше ознайомитись з умовами співробітництва, ви можете залишити заявку або зателефонувати.

    Переваги співробітництва:
    + Високий, прогресивний % від угод
    Можливість самостійно планувати свій робочий день + навчання (стажування безкоштовно).
    + Надання матеріалів для старту.
    + Маркетингова підтримка.
    + На старті з бізнесом може впоратися 1 особа.
    + Робота за агентським договором + перспективи кар'єрного та професійного зростання + успішні співробітники приймаються до штату компанії з постійним окладом та повним соціальним пакетом.

    Вимоги до Партнерів:
    - Досвід підприємницької діяльності
    - Побудова та розвиток дилерської мережі наявність комерційних зв'язків досвід особистих активних прямих продажів хороші комунікативні навички та організаторські здібності
    - відповідальність
    - Чесність
    - Порядність
    - Комунікабельність
    - Пунктуальність
    - Цілеспрямованість

    Кого ми запрошуємо:
    * Ви завжди рухаєтеся вперед і не боїтеся перешкод.
    * Ви комунікабельний і легко знаходите спільну мову з клієнтом.
    * Ви вмієте продавати.
    * Ви працюєте тільки на результат.
    * Ви готові вчитися.

    З повагою компанія bi-bi.com.ua.
</pre>
    </div>
    <div id="returnItem" style="display:none;">
        <pre style="white-space: pre-wrap;" class="notranslate">
    Умови повернення та обміну нових автозапчастин при покупці на on-line майданчику bi-bi.com.ua

    Компанія здійснює повернення та обмін придбаного Покупцем товару відповідно до вимог законодавства України.
Повернення можливе протягом 14 днів після отримання (для товарів належної якості).
Відповідно до Закону України "Про захист прав споживачів", товар належить обміну або поверненню грошей, у разі відсутності видимих ​​ознак його використання, у фірмовій упаковці та лише за наявності на ньому всіх цінників (якщо такі є), та інших ярликів у невикористаному вигляді . Не допускається нанесення на упаковку/товар написів, адрес та іншого. Коробки обмотані клейкою стрічкою без додаткової упаковки не приймаються. У разі повернення товару, що пропонується у складі комплекту, необхідно повернути всі складові комплекту.
Зворотна доставка товарів здійснюється з допомогою покупця.
У разі обміну або повернення клієнт оплачує доставку товарів в офіс або склад магазину. Якщо клієнт вирішив не змінювати товар, а забрати гроші, йому повертають вартість товару за вирахуванням транспортних витрат та митних платежів. Якщо покупець не повідомив інтернет-магазин про повернення товару, та не сплатив його доставку, сума витрат транспортних витрат та (митних платежів (якщо такі є)) буде відрахована від вартості замовленого товару.

    Умови повернення та обміну вживаних запчастин при купівлі на on-line майданчику bi-bi.com.ua

    Повернення придбаних запчастин за дотримання певних умов.
Повернення запчастин (вузлів, агрегатів) можливе тільки через їх несправності (гарантійний випадок), вживані запчастини не підлягають поверненню через «не знадобилося» або іншій причині.
    При настанні гарантійного випадку повернення вживаного запчастини (вузла, агрегату) має бути здійснено протягом гарантійного періоду. Якщо гарантійний випадок стався в останній день гарантійного періоду, то покупець повинен негайно сповістити про це продавця та здійснити повернення деталі протягом трьох (трьох) днів з моменту виявлення несправності. У разі відправки автозапчастин (вузлів, агрегатів) до інших міст, автозапчастину (вузол, агрегат, деталь) необхідно здати до транспортної компанії у вказаний термін для відправки продавцю.
Гарантійні умови поширюються лише на автозапчастини (вузли, агрегати), встановлені у сертифікованих СТО (станція технічного обслуговування).
    При виявленні шлюбу/дефекту/несправності покупець повинен негайно сповістити про це продавця.
Поверненню та обміну за гарантією підлягають Автозапчастини (вузли, агрегати) за наявності товарного чека, замовлення наряду на відповідні роботи, акта про виявлення несправності, а також копії сертифіката СТО на проведення даного виду робіт.
Гарантійні зобов'язання дійсні під час експлуатації Автозапчастини (вузла, агрегату) відповідно до норм та рекомендацій виробника.
    Гарантійні зобов'язання не поширюються на деталі, що мають сліди розтину або з порушеними мітками.
Гарантійний термін на автозапчастини (гарантійний період) - 5 (п'ять) днів з дня продажу, якщо інше не обумовлено заздалегідь і не зазначено в товарній накладній.
На вживані деталі надається тільки перевірна гарантія.
    У разі неправильного підбору та оплати деталі з вини покупця при поверненні товару клієнт оплачує всі витрати, пов'язані із замовленням та оплатою, а саме (транспортні витрати в обидві сторони по території Європи, транспортні витрати в обидві сторони по території України, податок за перерахування грошових коштів по Україні 5% + 1% ФОП + 2.75% LiqPay, податок за перерахування коштів по Європі при купівлі та поверненні.
У разі відправки автозапчастин до інших міст гарантійний термін обчислюється з дня отримання вантажу до транспортної компанії за умови, що вантаж забирається у період безкоштовного зберігання. В іншому випадку гарантійний термін обчислюється з дати закінчення періоду безкоштовного зберігання.
    У разі повернення або обміну вживаного запчастини (вузла, агрегату) за гарантією витрати понесені Покупцем при купівлі, транспортуванні, встановленні та інші витрати продавцем не компенсуються.
Не знадобилася б/в автозапчастина за згодою покупця та продавця:
Для повернення коштів, Вам потрібно повідомити номер Вашої банківської картки та ваш ІПН.
Покупець може залишити на реалізацію. І тут комісія продавця становить 35% від продажної вартості деталі.
Продавець може прийняти назад і повернути покупцю гроші з утриманням 50% від продажної вартості за вирахуванням транспортних витрат та митних платежів.
Якщо покупець придбав кілька найменувань товару та отримав загальну знижку, то при поверненні хоча б одного найменування товару знижка обнулюється.
На б/в деталі надається лише перевірна гарантія та їх повернення або обмін можливий лише в тих випадках, коли:
    - Деталь несправна
    - деталь має суттєві ушкодження, які не були вказані

Увага! - Термін зберігання запчастини на відділенні пошти також вважається терміном гарантії.
</pre>
    </div>
    <div id="warrantyItem" style="display:none;">
        <pre style="white-space: pre-wrap;" class="notranslate">
   Політика конфіденційності та захисту інформації. Залишаючи дані на сайті, ви погоджуєтесь з Політикою конфіденційності та захисту інформації. Захист даних адміністрація торгового майданчика bi-bi.com.ua не може передати або розкрити інформацію, надану Користувачем (далі Користувач) під час реєстрації та використання функцій сайту третім особам, крім випадків, описаних законодавством країни, на території якої користувач веде свою діяльність. Отримання персональної інформації для замовлення на сайті користувач зобов'язаний внести деяку персональну інформацію. Для перевірки наданих даних сайт залишає за собою право вимагати доказу ідентичності в онлайн або офлайн режимах.
    Використання персональної інформації
    Сайт використовує особисту інформацію користувача для обслуговування та покращення якості послуг. Частина персональної інформації може бути надана банку або платіжній системі, у разі якщо надання цієї інформації обумовлено процедурою переказу коштів платіжною системою, послугами якої користувач бажає скористатися. Сайт докладає всіх зусиль для збереження у збереженні особистих даних користувача. Особиста інформація може бути розкрита у випадках, описаних законодавством, або коли адміністрація визнає подібні дії необхідними для дотримання юридичної процедури, судового розпорядження або легального процесу необхідного для роботи користувача з сайтом. В інших випадках, ні за яких умов інформація, яку користувач передає сайту, не буде розкрита третім особам. Комунікація після того, як користувач залишив дані, зв'язується з ним представник сайту для підтвердження замовлення. Ця заява про конфіденційність стосується лише інформації, розміщеної безпосередньо на сайті. Безпека сайту забезпечує безпеку інформації, наданої користувачем від несанкціонованого доступу. Повідомлення про зміни Сайт залишає за собою право вносити зміни до політики конфіденційності без попередження. Нововведення набирають чинності з їх опублікування. Користувачі можуть самостійно відстежувати зміни в Політиці конфіденційності.
Інтернет-магазин гарантує повну конфіденційність та нерозголошення персональних даних користувачів під час реєстрації. Інтернет-магазин вживає необхідних технічних та організаційних заходів для захисту персональних даних клієнтів від несанкціонованого доступу, ризику їх втрати, пошкодження, зміни, розкриття чи знищення, та зобов'язується використовувати їх лише з метою спілкування з покупцями та доставки товару.
У всіх гарантіях, що надаються нами, ви можете переконатися особисто, зробивши у нас ЗАМОВЛЕННЯ.

При оформленні та оплаті товару в інтернет магазині bi-bi.com.ua, ви автоматично підтверджуєте свою повну згоду із зазначеними умовами.
COVID19
У зв'язку зі ситуацією, що склалася, пов'язаною із запровадженими карантинними заходами в Україні та Європі, доставка товарів з Європи в Україну може займати до 1 календарного місяця.
З повагою! www.bi-bi.com.ua
</pre>
    </div>
    <div id="GarantedPayItem" style="display:none;">
        <p style="white-space: pre-line;text-align:justify;" class="notranslate">
            Безпечна угода

            Понад 80 автомагазинів по всій Україні.
            Захищений платіж.
            Оплата підтверджується чеком.
            Гарантія одержання товару.
            Гарантія новий товар.
            Прийом платежів на розрахунковий рахунок підприємства.
            Безпеку гарантують платіжні послуги, отримати компенсацію в сумі до 10 000 грн. для покупців, замовлення яких було сплачено, але не відправлено продавцем.

            Стиль ОПЛАТА ЗАМОВЛЕННЯ КАРТОЮ (VISA / MASTERCARD)

            Сплатити покупку на сайті bi-bi.com.ua можна за допомогою платіжної картки Visa або MasterCard.
            При оформленні замовлення, виберіть спосіб оплати платіжною карткою (VISA/Mastercard), у розділі Способи оплати.
            Переконайтеся, що контактна інформація заповнена правильно, натисніть кнопку «Завершити оформлення».
            Далі система переадресує Вас на сторінку платіжного сервісу, де необхідно буде ввести дані банківської картки та підтвердити замовлення натисканням кнопки «Оплатити». Доставка товару можлива лише після підтвердження платежу.
            ЗВЕРНІТЬ УВАГУ! При оплаті замовлення онлайн ваш банк може стягувати додаткову комісію.

            Оплата безготівковим

            Якщо при реєстрації в нашому магазині Ви вказали, що представляєте юридичну особу, Ви можете скористатися безготівковим способом оплати. Після узгодження деталей замовлення та надання реквізитів організації Ви отримаєте рахунок для оплати. Не забудьте оформити довіреність з підписом керівника та печаткою підприємства на особу, яка отримуватиме покупку. Оплата рахунку можлива фізичною особою через касу будь-якого банку або онлайн сервіси. Товар буде відвантажено протягом 1-2 днів робітників з моменту надходження коштів на наш розрахунковий рахунок. Увага: термін надходження коштів за безготівковим розрахунком від 1-го до 3-х банківських днів.
            Ціни на сайті вказані без урахування ПДВ.

            LiqPay
            Сплатити покупку на сайті можна за допомогою платіжної картки Visa або MasterCard LIQPAY
            ЗРУЧНИЙ ПРИЙОМ ПЛАТЕЖІВ
            з карток Mastercard / Visa
            готівкою
            інтернет банкінг Приват24

            Швидке зарахування
            на картки Mastercard / Visa
            на розрахунковий рахунок
            Зарахування коштів протягом 1 банківського дня
            Сплатити зможе кожен!
        </p>
    </div>
    <div id="dostavka100Item" style="display:none;">
        <p style="white-space: pre-line;text-align:justify;" class="notranslate">
            В інтернет магазині bi-bi.com.ua ціна на товар вказана з урахуванням доставки, якщо замовлений Вами товар не перевищує вагу більше 30 кг, довжина кожної сторони не перевищує 70 см.

            Доплата за ручну обробку.

            Якщо відправка вагою до 30 кг, довжиною до 120 см та іншими сторонами 70 см, упаковано не за стандартами упаковки – тариф між відділеннями множиться на коефіцієнт 1,5.
        </p>
    </div>
    <div id="contactsItem" style="display:none;text-align:center;">
        <div><span style="font-size: 1em;line-height: 40px;" class="notranslate">Контактный номер:<a href="tel:+380675232143">+38(067)-523-21-43</a></span></div>
        <div><span style="font-size: 1em;line-height: 40px;" class="notranslate">E-mail: infobibimarket@gmail.com</span></div>
        <div style="font-size: 1em;line-height: 40px;" class="notranslate">Мы в социальных сетях</div>
        <div>
            <div style="cursor:pointer;display:inline-block;vertical-align:middle;" onclick="window.open('https://www.facebook.com/Автозапчастини-247-103538094588098')"><img src="~/images/Social/facebook.png" style="width:40%;" class="socialIcon" /></div>
            <div style="cursor:pointer;display:inline-block;vertical-align:middle;" onclick="window.open('https://www.instagram.com/ek4car_cn/')"><img src="~/images/Social/instagram.png" style="width:40%;" class="socialIcon" /></div>
            <div style="cursor:pointer;display:inline-block;vertical-align:middle;" onclick="window.open('https://www.youtube.com/channel/UCahH44dE4C6ZSiOr-SPMqFA')"><img src="~/images/Social/youtube.png" style="width:40%;" class="socialIcon" /></div>
        </div>

        <table class="garantedCardsTable">
            <tr>
                <td style="background:white;">
                    <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center"><img src="~/images/OrderAdvert/GarantedPay.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;"><div><span class="notranslate">Безпечна покупка</span></div></div>
                </td>
                <td style="background:white;">
                    <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center"><img src="~/images/OrderAdvert/dostavka100.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;"><span class="notranslate">Безкоштовна доставка до 30кг</span></div>
                </td>
                <td style="background:white;">
                    <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center"><img src="~/images/OrderAdvert/User100.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;"><div><span class="notranslate">Захист споживача</span></div></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="User100Item" style="display:none;">
        <p style="white-space: pre-line;text-align:justify;" class="notranslate">
            Програма Захисту Покупців передбачає можливість отримати компенсацію до 10 000 грн. для покупців, замовлення яких було сплачено, але не відправлено продавцем.

            Для отримання компенсації необхідно виконати три умови:

            1. Коректно оформити всі позиції замовлення через кошик на bi-bi.com.ua та надати Службі нашої роботи номер цього замовлення.
            Номер замовлення ви отримуєте у листі підтвердженні після оформлення замовлення.

            2. Надати документ та чек, що підтверджує оплату замовлення за реквізитами, отриманими через майданчик bi-bi.com.ua

            3. Надати документ, що підтверджує ваше звернення до правоохоронних органів за фактом шахрайства продавця (талон-повідомлення, що підтверджує ухвалення вашої заяви)

            Процедура звернення до правоохоронних органів

            Терміни подання заяви регламентуються двома законами – «Про поліцію» та «Про порядок розгляду звернень громадян УКРАЇНИ.
            У заяві необхідно зазначити таку інформацію:
            дату та час події;
            яку шкоду завдано: що саме сталося і від яких саме дій ви постраждали, опис обставин, що підтверджують вчинення правопорушення-шахрайства (опишіть ситуацію із замовленням у хронологічному порядку, вкажіть назву компанії продавця та адресу її сайту, ім'я контактної особи, з якою ви спілкувалися) , додайте копію листування електронною поштою тощо);
            докази, що підтверджують вказану вище інформацію (документи, що підтверджують оплату замовленого товару);
            ПІБ заявника, адресу, телефон та інші ваші контакти.
            Черговий співробітник поліції реєструє звернення у спеціальній Книзі обліку повідомлень про події та видає вам талон-повідомлення. У ньому мають бути дані співробітника, який прийняв заяву, реєстраційний номер, найменування територіального органу МВС України, адресу та службовий телефон, дату прийому та підпис, ініціали та прізвище оперативного чергового

            Рекомендації

            Уважно вивчіть інформацію про товар;
            Оформляйте замовлення через кошик bi-bi.com.ua, уважно заповнюйте свої дані та номер контактного телефону;
            Ніколи не передавайте персональні дані третім особам;
            Зберігайте всі документи, що стосуються угоди;
            Завжди перевіряйте товар при отриманні.
            Гарантією безпеки покупок ваша уважність та дотримання вищезазначених рекомендацій. Коли покупець зможе скористатися Програмою Захисту Покупців?

            Угода на порталі bi-bi.com.ua була оформлена не через кошик;
            Реквізити для оплати замовлення отримані поза системою bi-bi.com.ua. Наприклад через SMS повідомлення особисту пошту, в телефонному режимі або інші канали спілкування;
            Товар доставлений, але не відповідає замовленню або товар виявився неналежною якістю (у такому разі обмін чи повернення товару провадиться відповідно до Закону України "Про захист прав споживачів")
            Місце відправлення чи отримання товару знаходиться за межами України;
            З моменту оформлення замовлення минуло понад 14 календарних днів
            Товар не було доставлено або пошкоджено з вини служби доставки (зверніться до відділення перевізника для уточнення процедури компенсації)
            На момент звернення покупець уже отримав компенсацію за згодою продавця чи платіжної системи;
            * Звернення на виплату компенсації можуть подавати лише особи, дані яких вказані у замовленні. Заявки від третіх осіб не розглядаються.
        </p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="notranslate">Закрити</span></button>
</div>