<script>
    $('#showmodal_PopUp').on('show.bs.modal', function (e) {
        var menuItemName = $(e.relatedTarget).data('menuitem'); // 190 will be printed

        $("#instructionsItem").css("display", menuItemName == "instructionsItem" ? "block" : "none");
        $("#instructionsItemTitle").css("display", menuItemName == "instructionsItem" ? "block" : "none");
        $("#deliveryItem").css("display", menuItemName == "deliveryItem" ? "block" : "none");
        $("#deliveryItemTitle").css("display", menuItemName == "deliveryItem" ? "block" : "none");
        $("#partnershipItem").css("display", menuItemName == "partnershipItem" ? "block" : "none");
        $("#partnershipItemTitle").css("display", menuItemName == "partnershipItem" ? "block" : "none");
        $("#returnItem").css("display", menuItemName == "returnItem" ? "block" : "none");
        $("#returnItemTitle").css("display", menuItemName == "returnItem" ? "block" : "none");
        $("#warrantyItem").css("display", menuItemName == "warrantyItem" ? "block" : "none");
        $("#warrantyItemTitle").css("display", menuItemName == "warrantyItem" ? "block" : "none");        
    });

</script>
<div class="modal-header">
    <div id="instructionsItemTitle" style="display:none;">
        <h4 class="modal-title">
            Інструкція
        </h4>
    </div>
    <div id="deliveryItemTitle" style="display:none;">
        <h4 class="modal-title">
            Доставка
        </h4>
    </div>
    <div id="partnershipItemTitle" style="display:none;">
        <h4 class="modal-title">
            Партнерство
        </h4>
    </div>
    <div id="returnItemTitle" style="display:none;">
        <h4 class="modal-title">
            Повернення
        </h4>
    </div>
    <div id="warrantyItemTitle" style="display:none;">
        <h4 class="modal-title">
            Гарантія
        </h4>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div id="instructionsItem" style="display:none;">
        <video style="width:100%;" controls autoplay>
            <source src="~/video/videoInstructions.mp4" type="video/mp4">
        </video>
        <p style="padding: 20px 40px; white-space: pre-line; text-align: justify;">
            Як заказати товар в інтернет магазині bi-bi.com.ua

            Інтернет магазин bi-bi.com.ua призначений для самостійного підбору і замовлення запчастин, технічних рідин і аксесуарів для ваших транспортних засобів по цінам нижчим за роздрібні.

            Пошук автозапчастин в інтернет магазині Ви можете здійснити використовуючи механізм пошук по номеру запчастини в лівій частині інтерфейсу або використовуючи інтерфейс в правій частині Марка автомобіля - модель - категорія запчастин.

            Вибравши потрібний Вам товар Ви нажимаєте купити і попадаєте в корзину покупок, де відображається товар, який Ви бажаєте купити в інтернет магазині bi-bi.com.ua. В корзині Ви маєте можливість змінити кількість товару, який купляєте, а також продовжити покупки або оформити замовлення.

            Оформлення замовлення.
            На сторінці оформлення замовлення інтернет магазину bi-bi.com.ua Ви повинні заповнити:
            1)Ваші контактні дані (Прізвище, Ім`я та по батькові; мобільний номер телефону)
            2)Вибрати тип доставки і адресу доставки

            Після чого підвтердити замовлення і Ви будете перенаправлені на сторінку способів оплати, які Вам будуть зручні.

            Увага! Неправильно вказаний номер телефона, неточний або неповний адрес доставки може призвести до затримки доставки замовлення, тому будьте уважні при заповненні даних.
        </p>
    </div>
    <div id="deliveryItem" style="display:none;">
        <pre style="white-space: pre-wrap;">
    Терміни доставки та оплати по Україні:

    * доставка товару по Україні здійснюється службою Нова Пошта
    * доставка товару кур'єром
    * доставка товару здійснюється після 100% оплати його вартості.
    * Терміни доставки по Україні від 12 до 72 годин в залежності від відстаней і габаритів вантажу
    * Весь товар підлягає страхуванню на відділенні Нової пошти, на суму еквівалентну його вартості. При отриманні товару, одержувач зобов'язаний перевірити його безпосередньо у відділенні транспортної компанії. Якщо будуть виявлені пошкодження, які виникли під час перевезення, тоді необхідно скласти акт прийому-передачі та оформити претензію (без цих документів не виплатять компенсацію за пошкоджений товар);

    Терміни доставки та оплати з Європи:

    * малогабаритні товари від 2 до 5 робочих днів!
    * великогабаритні товари від 3 до 10 робочих днів!
    * доставка товару здійснюється після 100% оплати його вартості.

    Якщо ви готові придбати якісні деталі для авто, необхідно пам'ятати, що у них повинен бути певна вага і фіксована вартість. У разі, якщо маса або ціна перевищують встановлений ліміт, Вам доведеться заплатити податки, що збільшує собівартість вантажу.
Розмитнення автозапчастин, як правило, передбачає розмір мита 5-15% і 20% ПДВ. Тут варто враховувати факт, що кожна деталь має власний код ТН ЗЕД і, відповідно, свою ставку мита на запчастини. Від цього безпосередньо залежить необхідність проходження дозвільних процедур і сертифікації.
На габаритні Автозапчастини перевищують вагу понад 50 кг такі як : чверть кузова, дахи, лобові і задні стекла авто та інші габаритні кузовні запчастини, передбачаються додаткові оплати. Номерні агрегати (двигун, КПП і АКПП, Мости, та ін) підлягають митному оформленню. Товар ціна якого перевищує суму понад 200 євро також підлягає митному оформленню. Загальна сума товару з урахуванням розмитнення, буде вказана після переходу в розділ " Оплатити»
        </pre>
    </div>
    <div id="partnershipItem" style="display:none;">
        <pre style="white-space: pre-wrap;">
    Компанія EK запрошує до співпраці регіональних дилерів, партнерів, торгових представників з розвитку дилерської мережі в Україні.

    ФРАНШИЗА З ГАРАНТОВАНИМ ПРИБУТКОМ ЗА ДОГОВОРОМ НА ПОВНІЙ АВТОМАТИЗАЦІЇ!

    Інноваційна компанія EK - з найбільшою мережею з продажу автозапчастин і послуг на ринку України . Прогресивно розвиваючись запрошує в свою команду молодих перспективних людей які хочуть розвиватися і домагатися великих вершин в кар'єрі.
Компанія ЄК є власником, виробником автомагазинів-терміналів з ПЗ. Автомагазини-термінали самообслуговування - це найбільша on-line і of-line платформа з продажу та безкоштовного розміщення нових і б/у автозапчастин на будь-який вид транспорту!(Легковий, Вантажний, мото-вело, сільгосптехніка, Шини, диски, обладнання для сто та ін).
Дуже зручними і легкими у використанні, є автомагазини-термінали не тільки для клієнтів, але і для їх власників – навіть якщо це бізнесмени-початківці.
    Що входить в розвиток дилерської мережі:
    - Продаж франшизи автомагазину-терміналу з гарантією окупності за договором.
    - Залучення партнерів по розміщенню нових і б/у товарів.
    - Залучення рекламодавців для розміщення реклами на верхньому екрані автомагазину-терміналу
    - Для установки і підключення автомагазину-терміналу потрібно до 1м2 площі, і розетка із заземленням 220V)
    Всі права захищені! Всі товарні знаки, логотипи та знаки обслуговування, є власністю. Патент діє в 96 країнах світу.
    Почніть заробляти від 45000 грн/місяць, на послугах із залучення клієнтів. Ви будете рятувати інші компанії від кризи і отримувати стабільні абонентські платежі.
    Детальніше ознайомитися з умовами співпраці, ви можете залишити заявку, або зателефонувати.

    Переваги співпраці:
    + Високий, прогресивний % від угод
    + Можливість самостійно планувати свій робочий день + навчання ( стажування безкоштовно). 
    + Надання матеріалів для старту. 
    + Маркетингова підтримка. 
    + На старті з бізнесом може впоратися 1 людина. 
    + Робота за агентським договором + перспективи кар'єрного та професійного зростання + успішні співробітники приймаються в штат компанії з постійним окладом і повним соціальним пакетом.

    Вимоги до Партнерів:
    - Досвід підприємницької діяльності
    - Побудова та розвиток дилерської мережі наявність комерційних зв'язків досвід особистих активних прямих продажів хороші комунікативні навички та організаторські здібності
    - Відповідальність
    - Чесність
    - Порядність
    - Комунікабельність
    - Пунктуальність
    - Цілеспрямованість

    Кого ми запрошуємо:
    * Ви завжди рухаєтеся вперед і не боїтеся перешкод.
    * Ви комунікабельний і легко знаходите спільну мову з клієнтом.
    * Ви вмієте продавати.
    * Ви працюєте тільки на результат.
    * Ви готові вчитися.

    З повагою компанія компанія EK.

    infoltdek4car@gmail.com
</pre>
    </div>
    <div id="returnItem" style="display:none;">
        <pre style="white-space: pre-wrap;">
    Умови повернення та обміну нових автозапчастин при купівлі на on-line майданчику та автомагазині-терміналі " EK-Автозапчастини 24»

    Компанія здійснює повернення та обмін придбаного Покупцем товару відповідно до вимог законодавства України.
Повернення можливе протягом 14 днів після отримання (для товарів належної якості).
Відповідно до Закону України» Про захист прав споживачів", товар належить обміну або поверненню грошей, у разі відсутності видимих ознак його використання, у фірмовій упаковці і тільки за наявності на ньому всіх цінників (якщо такі є), та інших ярликів у невикористаному вигляді. Не допускається нанесення на упаковку / товар написів, адрес та іншого. Коробки обмотані клейкою стрічкою без додаткової упаковки назад не приймаються. У разі повернення товару, пропонованого в складі комплекту, необхідно повернути всі складові комплекту.
Зворотна доставка товарів здійснюється за рахунок покупця.
У разі обміну або повернення, клієнт оплачує доставку товарів в офіс або склад магазину. Якщо клієнт вирішив не обмінювати товар, а забрати гроші, йому повертають вартість товару за вирахуванням транспортних витрат і митних платежів. Їли покупець не повідомив інтернет-магазин про повернення товару, і не сплатив його доставку, сума витрат транспортних витрат і (митних платежів ( якщо такі є)) буде вирахувана від вартості замовленого товару.

    Умови повернення та обміну вживаних б/у запчастин при покупці на on-line майданчику та автомагазині-терміналі " EK-Автозапчастини 24»
Повернення придбаних запчастин при дотриманні певних умов.
Повернення б/у запчастин (вузлів, агрегатів) можливий тільки через їх несправності (гарантійний випадок), б / у запчастини не підлягають поверненню через «не знадобилося» або іншої іншої причини.
При настанні гарантійного випадку повернення б / у автозапчастини (вузла, агрегату) повинен бути здійснений протягом гарантійного періоду. Якщо гарантійний випадок стався в останній день гарантійного періоду, то покупець повинен негайно оповістити про це продавця і здійснити повернення деталі протягом 3 (трьох) днів з моменту виявлення несправності. У разі відправки автозапчастин (вузлів, агрегатів) в інші міста, автозапчастина (вузол, агрегат, деталь) необхідно здати в транспортну компанію в зазначений термін для відправки продавцеві.
Гарантійні умови поширюються тільки на автозапчастини (вузли, агрегати), встановлені в сертифікованих С.Т. О. (станція технічного обслуговування).
При виявленні браку/дефекту/ несправності покупець повинен негайно сповістити про це продавця.
Поверненню та обміну по гарантії підлягають Автозапчастини (вузли, агрегати) при наявності товарного чека, замовлення-наряду на відповідні роботи, акта про виявлення несправності, а так само копії сертифіката С.Т. Про на проведення даного виду робіт.
Гарантійні зобов'язання є дійсними при експлуатації Автозапчастини (вузла, агрегату) відповідно до норм і рекомендацій виробника.
Гарантійні зобов'язання не поширюються на деталі, що мають сліди розтину або з порушеними пломбувальними мітками.
Гарантійний термін на вживані вживані автозапчастини (гарантійний період) - 5(п'ять) днів від дня продажу , якщо інше не обумовлено заздалегідь і не зазначено в товарній накладній.
На вживані вживані деталі дається тільки перевірочна гарантія.

    У разі неправильного підбору і оплати деталі з вини покупця, при поверненні товару, клієнт оплачує всі витрати пов'язані із замовленням і оплатою а саме ( транспортні витрати в дві сторони по території Європи, транспортні витрати в дві сторони по території України, податок за перерахування грошових коштів по Україні 5% + 1% ФОП + 2.75% LiqPay
податок за перерахування грошових коштів по Європі при купівлі та поверненні
У разі відправки автозапчастин в інші міста гарантійний термін обчислюються від дати отримання вантажу в транспортній компанії за умови, що вантаж забирається в період безкоштовного зберігання. В іншому випадку, гарантійний термін обчислюється від дати закінчення періоду безкоштовного зберігання.
У разі повернення або обміну б/у автозапчастини (вузла, агрегату) по гарантії витрати понесені Покупцем при покупці, транспортуванні, установці та інші витрати продавцем не компенсуються.
Не знадобилася б/у автозапчастина при обопільній згоді покупця і продавця:
Для повернення грошових коштів, Вам потрібно повідомити номер Вашої банківської картки і ваш ІПН
Покупець може залишити на реалізацію. У цьому випадку комісія продавця становить 35% від продажної вартості деталі.
Продавець може прийняти назад і повернути покупцеві гроші з утриманням 50% від продажної вартості за вирахуванням транспортних витрат і митних платежів
Якщо покупець придбав кілька найменувань товару і отримав загальну знижку, то при поверненні хоча б одного найменування товару знижка обнуляється.
На вживані б/у деталі дається тільки перевірочна гарантія і їх повернення або обмін можливий тільки в тих випадках коли
деталь не справна
деталь має істотні пошкодження, які не були вказані в описі
деталь прийшла не та, яка була вказана в оголошенні
Увага! - Термін зберігання запчастини на відділенні пошти так само вважається терміном гарантії.
</pre>
    </div>
    <div id="warrantyItem" style="display:none;">
        <pre style="white-space: pre-wrap;">
Політика конфіденційності та захисту інформації. Залишаючи дані на сайті, ви погоджуєтеся з Політикою конфіденційності та захисту інформації. Захист даних адміністрація торгового майданчика EK-Автозапчасти24 не може передати або розкрити інформацію, надану Користувачем (далі Користувач) при реєстрації та використанні функцій сайту третім особам, крім випадків, описаних законодавством країни, на території якої користувач веде свою діяльність. Отримання персональної інформації Для здійснення замовлення на сайті користувач зобов'язаний внести деяку персональну інформацію. Для перевірки наданих даних, сайт залишає за собою право вимагати докази ідентичності в онлайн або офлайн режимах. Використання персональної інформації Сайт використовує особисту інформацію Користувача для обслуговування і для поліпшення якості послуг, що надаються. Частина персональної інформації може бути надана банку або платіжній системі, у разі, якщо надання цієї інформації обумовлено процедурою переказу коштів платіжній системі, послугами якої користувач бажає скористатися. Сайт докладає всіх зусиль для заощадження в збереженні особистих даних Користувача. Особиста інформація може бути розкрита у випадках, описаних законодавством, або, коли адміністрація вважатиме подібні дії необхідними для дотримання юридичної процедури, судового розпорядження або легального процесу необхідного для роботи Користувача з Сайтом. В інших випадках, ні за яких умов, інформація, яку користувач передає Сайту, не буде розкрита третім особам. Комунікація після того, як користувач залишив дані, c ним зв'язується представник сайту для підтвердження замовлення. Користувач має право в будь-який момент припинити отримання інформаційних бюлетенів скориставшись відповідним сервісом В сайті. Посилання на сайті можуть міститися посилання на інші сайти. Сайт не несе відповідальності за зміст, якість і політику безпеки цих сайтів. Дана заява про конфіденційність відноситься тільки до інформації, розміщеної безпосередньо на сайті. Безпека сайту забезпечує безпеку інформації, наданої користувачем, від несанкціонованого доступу. Повідомлення про зміни Сайт залишає за собою право вносити зміни в політику конфіденційності без додаткових повідомлень. Нововведення набирають чинності з моменту їх опублікування. Користувачі можуть відстежувати зміни в Політиці конфіденційності самостійно.
Інтернет-магазин і автомагазин-термінал "EK-АВТОЗАПЧАСТИ24" гарантує повну конфіденційність і нерозголошення персональних даних користувачів при реєстрації. Інтернет-магазин і автомагазин-термінал "EK-АВТОЗАПЧАСТИ24" вживає необхідні технічні та організаційні заходи для захисту персональних даних клієнтів, від несанкціонованого доступу, ризику їх втрати, пошкодження, зміни, розкриття або знищення, і зобов'язується використовувати їх тільки з метою спілкування з покупцями і доставки товару.
У всіх наданих нами гарантіях ви можете переконатися особисто, зробивши у нас ЗАМОВЛЕННЯ.

При оформленні та оплаті товару в інтернет магазині EK, ви автоматично підтверджуєте свою повну згоду з вищевказаними умовами.
COVID19
У зв'язку зі сформованою ситуацією, пов'язаною з введеними карантинними заходами в Україні та Європі, доставка товарів з Європи в Україну може займати до 1 календарного місяця.
З повагою! EK-Автозапчасти24
</pre>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
</div>