<script>
    $('#showmodal_PopUp').on('show.bs.modal', function (e) {
        var menuItemName = $(e.relatedTarget).data('menuitem'); // 190 will be printed

        $("#instructionsItem").css("display", menuItemName == "instructionsItem" ? "block" : "none");
        $("#instructionsItemTitle").css("display", menuItemName == "instructionsItem" ? "block" : "none");
        $("#deliveryItem").css("display", menuItemName == "deliveryItem" ? "block" : "none");
        $("#deliveryItemTitle").css("display", menuItemName == "deliveryItem" ? "block" : "none");
        $("#partnershipItem").css("display", menuItemName == "partnershipItem" ? "block" : "none");
        $("#partnershipItemTitle").css("display", menuItemName == "partnershipItem" ? "block" : "none");
        $("#contactsItem").css("display", menuItemName == "contactsItem" ? "block" : "none");
        $("#contactsItemTitle").css("display", menuItemName == "contactsItem" ? "block" : "none");
        $("#returnItem").css("display", menuItemName == "returnItem" ? "block" : "none");
        $("#returnItemTitle").css("display", menuItemName == "returnItem" ? "block" : "none");
        $("#warrantyItem").css("display", menuItemName == "warrantyItem" ? "block" : "none");
        $("#warrantyItemTitle").css("display", menuItemName == "warrantyItem" ? "block" : "none");
        $("#GarantedPayItem").css("display", menuItemName == "GarantedPayItem" ? "block" : "none");
        $("#GarantedPayTitle").css("display", menuItemName == "GarantedPayItem" ? "block" : "none");
        $("#dostavka100Item").css("display", menuItemName == "dostavka100Item" ? "block" : "none");
        $("#dostavka100Title").css("display", menuItemName == "dostavka100Item" ? "block" : "none");
        $("#User100Item").css("display", menuItemName == "User100Item" ? "block" : "none");
        $("#User100Title").css("display", menuItemName == "User100Item" ? "block" : "none");
    });

</script>
<div class="modal-header">
    <div id="instructionsItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Инструкция</span>
</h4>
    </div>
    <div id="deliveryItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Доставка</span>
</h4>
    </div>
    <div id="partnershipItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Партнерство</span>
</h4>
    </div>
    <div id="contactsItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Контакты</span>
</h4>
    </div>
    <div id="returnItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Возврат</span>
</h4>
    </div>
    <div id="warrantyItemTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Гарантия</span>
</h4>
    </div>
    <div id="GarantedPayTitle" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Гарантированный платеж. Безопасная покупка.</span>
</h4>
    </div>
    <div id="dostavka100Title" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Бесплатная доставка до 30кг</span>
</h4>
    </div>
    <div id="User100Title" style="display:none;">
        <h4 class="modal-title">
            <span class="notranslate">Защита потребителя. Гарантия на товар.</span>
</h4>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div id="instructionsItem" style="display:none;">
        <video style="width:100%;" controls autoplay>
            <source src="~/video/videoInstructions.mp4" type="video/mp4">
        </video>
        <p style="padding: 20px 40px; white-space: pre-line; text-align: justify;" class="notranslate">
            Как заказать товар в интернет магазине bi-bi.com.ua

            Интернет магазин bi-bi.com.ua предназначен для самостоятельного подбора и заказа запчастей, технических жидкостей и аксессуаров для ваших транспортных средств по ценам ниже розничных.

            Поиск автозапчастей в интернет магазине Вы можете осуществить используя механизм поиск по номеру запчасти в левой части интерфейса или используя интерфейс в правой части Марка автомобиля - модель - категория запчастей.

            Выбрав нужный Вам товар Вы нажимаете купить и попадаете в корзину покупок, где отображается товар, который Вы хотите купить в интернет магазине bi-bi.com.ua. В корзине Вы можете изменить количество товара, покупаете, а также продолжить покупки или оформить заказ.

            Оформление заказа.
            На странице оформления заказа интернет магазина bi-bi.com.ua Вы должны заполнить:
            1) Ваши контактные данные (фамилия, имя и отчество; мобильный номер телефона)
            2) Выбрать тип доставки и адрес доставки

            После чего подтвердите заказ и Вы будете перенаправлены на страницу способов оплаты, которые Вам удобны.

            Внимание! Неправильно указанный номер телефона, неточный или неполный адрес доставки может привести к задержке доставки заказа, поэтому будьте внимательны при заполнении данных.
        </p>
    </div>
    <div id="deliveryItem" style="display:none;">
        <pre style="white-space: pre-wrap;" class="notranslate">
    Сроки доставки и оплаты по Украине

    * Доставка товара по Украине осуществляется службой Новая Почта
    * Доставка товара курьером
    * Доставка товара осуществляется после 100% оплаты его стоимости.
    * Сроки доставки по Украине от 12 до 72 часов в зависимости от расстояний и габаритов груза
    * Весь товар подлежит страхованию на отделении Новой почты, на сумму эквивалентную его стоимости. При получении товара, получатель обязан проверить его непосредственно в отделении транспортной компании. Если будут обнаружены повреждения, возникшие при перевозке, тогда необходимо составить акт приема-передачи и оформить претензию (без этих документов не выплатят компенсацию за поврежденный товар)

    Сроки доставки и оплаты из Европы:

    * Малогабаритные товары от 2 до 5 рабочих дней!
    * Крупногабаритные товары от 3 до 10 рабочих дней!
    * Доставка товара осуществляется после 100% оплаты его стоимости.

    Если вы готовы приобрести качественные детали для авто, необходимо помнить, что у них должен быть определенный вес и фиксированная стоимость. В случае, если масса или цена превышают установленный лимит, Вам придется заплатить налоги, увеличивает себестоимость груза.
Растаможка автозапчастей, как правило, предусматривает размер пошлины 5-15% и 20% НДС. Здесь следует учитывать факт, что каждая деталь имеет свой код ТН ВЭД и, соответственно, свою ставку пошлины на запчасти. От этого напрямую зависит необходимость прохождения разрешительных процедур и сертификации.
Габаритные Автозапчасти превышают вес более 50 кг такие как: четверть кузова, крыши, лобовые и задние стекла авто и другие габаритные кузовные запчасти, предусматриваются дополнительные оплаты. Номерные агрегаты (двигатель, КПП и АКПП, Мосты, и др) подлежат таможенному оформлению. Товар цена которого превышает сумму более 200 евро также подлежит таможенному оформлению. 
        </pre>
    </div>
    <div id="partnershipItem" style="display:none;">
        <pre style="white-space: pre-wrap;" class="notranslate">
    Компания bi-bi.com.ua приглашает к сотрудничеству региональных дилеров, партнеров, торговых представителей по развитию дилерской сети в Украине.

    ФРАНШИЗА С гарантированной прибыли ПО ДОГОВОРУ НА ПОЛНОЙ АВТОМАТИЗАЦИИ!

    Инновационная компания bi-bi.com.ua - с крупнейшей сетью по продаже автозапчастей и услуг на рынке Украины. Прогрессивно развивающаяся приглашает в свою команду молодых перспективных людей, которые хотят развиваться и добиваться больших вершин в карьере.
Компания bi-bi.com.ua является собственником, производителем автомагазинов-терминалов с ПО. Автомагазины-терминалы самообслуживания - это самая on-line и of-line платформа по продаже и бесплатного размещения новых и б/у автозапчастей на любой вид транспорта! (легковой, грузовой, мото-вело, сельхозтехника, шины, диски, оборудование для сто и др.)
Очень удобными и легкими в использовании, есть автомагазины-терминалы не только для клиентов, но и для их владельцев - даже если это бизнесмены.
    Что входит в развитие дилерской сети:
    - Продажа франшизы автомагазина-терминала с гарантией окупаемости по договору.
    - Привлечение партнеров по размещению новых и б/у товаров.
    - Привлечение рекламодателей для размещения рекламы на верхнем экране автомагазина-терминала
    - Для установки и подключения автомагазина-терминала нужно до 1м2 площади, и розетка с заземлением 220V)
    Все права защищены! Все товарные знаки, логотипы и знаки обслуживания, является собственностью. Патент действует в 96 странах мира.
    Начните зарабатывать от 45 000 грн / месяц, на услугах по привлечению клиентов. Вы будете спасать другие компании от кризиса и получать стабильные абонентские платежи.
    Подробнее ознакомиться с условиями сотрудничества, вы можете оставить заявку или позвонить.

    Преимущества сотрудничества:
    + Высокий, прогрессивный % от сделок
    Возможность самостоятельно планировать свой рабочий день + обучение (стажировка бесплатно).
    + Предоставление материалов для старта.
    + Маркетинговая поддержка.
    + На старте с бизнесом может справиться 1 человек.
    + Работа по агентскому договору + перспективы карьерного и профессионального роста + успешные сотрудники принимаются в штат компании с постоянным окладом и полным социальным пакетом.

    Требования к Партнерам:
    - Опыт предпринимательской деятельности
    - Построение и развитие дилерской сети наличие коммерческих связей опыт личных активных прямых продаж хорошие коммуникативные навыки и организаторские способности
    - Ответственность
    - Честность
    - Порядочность
    - Коммуникабельность
    - Пунктуальность
    - Целеустремленность

    Кого мы приглашаем:
    * Вы всегда двигаетесь вперед и не боитесь препятствий.
    * Вы коммуникабельный и легко находите общий язык с клиентом.
    * Вы умеете продавать.
    * Вы работаете только на результат.
    * Вы готовы учиться.

    С уважением компания компания bi-bi.com.ua.

    infoltdek4car@gmail.com
</pre>
    </div>
    <div id="returnItem" style="display:none;">
        <pre style="white-space: pre-wrap;" class="notranslate">
    Условия возврата и обмена новых автозапчастей при покупке на on-line площадке bi-bi.com.ua

    Компания осуществляет возврат и обмен приобретенного Покупателем товара в соответствии с требованиями законодательства Украины.
Возврат возможен в течение 14 дней после получения (для товаров надлежащего качества).
В соответствии с Законом Украины "О защите прав потребителей", товар принадлежит обмену или возврату денег, в случае отсутствия видимых признаков его использования, в фирменной упаковке и только при наличии на нем всех ценников (если таковые имеются), и других ярлыков в неиспользованном виде. Не допускается нанесение на упаковку / товар надписей, адресов и прочего. Коробки обмотанные клейкой лентой без дополнительной упаковки обратно не принимаются. В случае возврата товара, предлагаемого в составе комплекта, необходимо вернуть все составляющие комплекта.
Обратная доставка товаров осуществляется за счет покупателя.
В случае обмена или возврата, клиент оплачивает доставку товаров в офис или склад магазина. Если клиент решил не менять товар, а забрать деньги, ему возвращают стоимость товара за вычетом транспортных расходов и таможенных платежей. Если покупатель не сообщил интернет-магазин о возврате товара, и не оплатил его доставку, сумма расходов транспортных расходов и (таможенных платежей (если таковые имеются)) будет вычтена от стоимости заказанного товара.

    Условия возврата и обмена применяемых б/у запчастей при покупке на on-line площадке bi-bi.com.ua

    Возвращение приобретенных запчастей при соблюдении определенных условий.
Возвращение б/у запчастей (узлов, агрегатов) возможен только через их неисправности (гарантийный случай), б/у запчасти не подлежат возврату через «не понадобилось» или иной другой причине.
    При наступлении гарантийного случая возврата б/у запчасти (узла, агрегата) должен быть осуществлен в течение гарантийного периода. Если гарантийный случай произошел в последний день гарантийного периода, то покупатель должен немедленно оповестить об этом продавца и осуществить возврат детали в течение 3 (трех) дней с момента обнаружения неисправности. В случае отправки автозапчастей (узлов, агрегатов) в другие города, автозапчасть (узел, агрегат, деталь) необходимо сдать в транспортную компанию в указанный срок для отправки продавцу.
Гарантийные условия распространяются только на автозапчасти (узлы, агрегаты), установленные в сертифицированных СТО (станция технического обслуживания).
    При обнаружении брака / дефекта / неисправности покупатель должен немедленно известить об этом продавца.
Возврату и обмену по гарантии подлежат Автозапчасти (узлы, агрегаты) при наличии товарного чека, заказ-наряда на соответствующие работы, акта об обнаружении неисправности, а так же копии сертификата СТО на проведение данного вида работ.
Гарантийные обязательства действительны при эксплуатации Автозапчасти (узла, агрегата) в соответствии с нормами и рекомендациями производителя.
    Гарантийные обязательства не распространяются на детали, имеющие следы вскрытия или с нарушенными пломбировочными метками.
Гарантийный срок на применяемые автозапчасти (гарантийный период) - 5 (пять) дней со дня продажи, если иное не оговорено заранее и не указано в товарной накладной.
На б/у применяемые детали дается только проверочная гарантия. 
    В случае неправильного подбора и оплаты детали по вине покупателя, при возврате товара, клиент оплачивает все расходы, связанные с заказом и оплатой, а именно (транспортные расходы в обе стороны по территории Европы, транспортные расходы в обе стороны по территории Украины, налог за перечисление денежных средств по Украине 5% + 1% ФОТ + 2.75% LiqPay, налог за перечисление денежных средств по Европе при покупке и возврате.
В случае отправки автозапчастей в другие города гарантийный срок исчисляется со дня получения груза в транспортной компании при условии, что груз забирается в период бесплатного хранения. В противном случае, гарантийный срок исчисляется с даты окончания периода бесплатного хранения.
    В случае возврата или обмена б/у запчасти (узла, агрегата) по гарантии расходы понесенные Покупателем при покупке, транспортировке, установке и другие затраты продавцом не компенсируются.
Не понадобилась б/у автозапчасть при обоюдном согласии покупателя и продавца:
Для возврата денежных средств, Вам нужно сообщить номер Вашей банковской карты и ваш ИНН.
Покупатель может оставить на реализацию. В этом случае комиссия продавца составляет 35% от продажной стоимости детали.
Продавец может принять обратно и вернуть покупателю деньги с содержанием 50% от продажной стоимости за вычетом транспортных расходов и таможенных платежей.
Если покупатель приобрел несколько наименований товара и получил общую скидку, то при возвращении хотя бы одного наименования товара скидка обнуляется.
На б/у детали дается только проверочная гарантия и их возврата или обмен возможен только в тех случаях, когда:
    - деталь неисправна
    - деталь имеет существенные повреждения, которые не были указаны в описании
    - деталь пришла не та, которая была указана в объявлении

Внимание! - Срок хранения запчасти на отделении почты так же считается сроком гарантии. 
</pre>
    </div>
    <div id="warrantyItem" style="display:none;">
        <pre style="white-space: pre-wrap;" class="notranslate">
    Политика конфиденциальности и защиты информации. Оставляя данные на сайте, вы соглашаетесь с Политикой конфиденциальности и защиты информации. Защита данных администрация торговой площадки bi-bi.com.ua не может передать или раскрыть информацию, предоставленную Пользователем (далее Пользователь) при регистрации и использовании функций сайта третьим лицам, кроме случаев, описанных законодательством страны, на территории которой пользователь ведет свою деятельность. Получение персональной информации для осуществления заказа на сайте пользователь обязан внести некоторую персональную информацию. Для проверки предоставленных данных, сайт оставляет за собой право требовать доказательства идентичности в онлайн или оффлайн режимах. 
    Использование персональной информации 
    Сайт использует личную информацию пользователя для обслуживания и для улучшения качества предоставляемых услуг. Часть персональной информации может быть предоставлена ​​банку или платежной системе, в случае, если предоставление этой информации обусловлено процедурой перевода средств платежной системе, услугами которой пользователь желает воспользоваться. Сайт прилагает все усилия для сбережения в сохранении личных данных пользователя. Личная информация может быть раскрыта в случаях, описанных законодательством, или, когда администрация сочтет подобные действия необходимыми для соблюдения юридической процедуры, судебного распоряжения или легального процесса необходимого для работы пользователя с сайтом. В других случаях, ни при каких условиях, информация, которую пользователь передает сайта, не будет раскрыта третьим лицам. Коммуникация после того, как пользователь оставил данные, c ним связывается представитель сайта для подтверждения заказа. Данное заявление о конфиденциальности относится только к информации, размещенной непосредственно на сайте. Безопасность сайта обеспечивает безопасность информации, предоставленной пользователем, от несанкционированного доступа. Сообщение об изменениях Сайт оставляет за собой право вносить изменения в политику конфиденциальности без предварительного уведомления. Нововведения вступают в силу с момента их опубликования. Пользователи могут отслеживать изменения в Политике конфиденциальности самостоятельно.
Интернет-магазин гарантирует полную конфиденциальность и неразглашение персональных данных пользователей при регистрации. Интернет-магазин принимает необходимые технические и организационные меры для защиты персональных данных клиентов от несанкционированного доступа, риска их потери, повреждения, изменения, раскрытия или уничтожения, и обязуется использовать их только с целью общения с покупателями и доставки товара.
Во всех предоставляемых нами гарантиях вы можете убедиться лично, сделав у нас ЗАКАЗ.

При оформлении и оплате товара в интернет магазине bi-bi.com.ua, вы автоматически подтверждаете свое полное согласие с вышеуказанными условиями.
COVID19
В связи со сложившейся ситуацией, связанной с введенными карантинными мероприятиями в Украине и Европе, доставка товаров из Европы в Украину может занимать до 1 календарного месяца.
С уважением! www.bi-bi.com.ua
</pre>
    </div>
    <div id="GarantedPayItem" style="display:none;">
        <p style="white-space: pre-line;text-align:justify;" class="notranslate">
            Безопасная сделка

            Более 80 автомагазинов по всей Украине.
            Защищенный платеж.
            Оплата подтверждается чеком.
            Гарантия получения товара.
            Гарантия на новый товар.
            Прием платежей на расчетный счет компании.
            Безопасность гарантируют платежные сервисы, получить компенсацию в сумме до 10 000 грн. для покупателей, заказ которых были оплачены, но не отправлены продавцом.

            Стиль ОПЛАТА ЗАКАЗА КАРТОЙ (VISA / MASTERCARD)

            Оплатить покупку на сайте bi-bi.com.ua можно с помощью платежной карты Visa или MasterCard.
            При оформлении заказа, выберите способ оплаты платежной карточкой (VISA / Mastercard), в разделе Способы оплаты.
            Убедитесь, что контактная информация заполнена правильно, кликнуть на кнопку «Завершить оформление».
            Далее система переадресует Вас на страницу платежного сервиса, где необходимо будет ввести данные банковской карты и подтвердить заказ нажатием на кнопку «Оплатить». Доставка товара возможна только после подтверждения платежа.
            ОБРАТИТЕ ВНИМАНИЕ! При оплате заказа онлайн ваш банк может взимать дополнительную комиссию.

            Оплата безналичным

            Если при регистрации в нашем магазине Вы указали, что представляете юридическое лицо, Вы можете воспользоваться безналичным способом оплаты. После согласования деталей заказа и предоставления реквизитов организации Вы получите счет для оплаты. Не забудьте оформить доверенность с подписью руководителя и печатью предприятия на лицо, которое будет получать покупку. Оплата счета возможна физическим лицом через кассу любого банка или через онлайн сервисы. Товар будет отгружен в течение 1-2 дней рабочих с момента поступления денежных средств на наш расчетный счет. Внимание: срок поступления денежных средств по безналичному расчету от 1-го до 3-х банковских дней.
            Цены на сайте указаны без учета НДС.

            LiqPay
            Оплатить покупку на сайте можно с помощью платежной карты Visa или MasterCard LIQPAY
            УДОБНЫЙ ПРИЕМ ПЛАТЕЖЕЙ
            с карт Mastercard / Visa
            наличными
            интернет банкинг Приват24

            Быстрое зачисление
            на карты Mastercard / Visa
            на расчетный счет
            Зачисление средств в течение 1 банковского дня
            Оплатить сможет каждый!
        </p>
    </div>
    <div id="dostavka100Item" style="display:none;">
        <p style="white-space: pre-line;text-align:justify;" class="notranslate">
            В интернет магазине bi-bi.com.ua цена на товар указана с учетом доставки если заказанный Вами товар не превышает вес более 30 кг, длина каждой стороны не превышает 70 см.

            Доплата за ручную обработку.

            Если отправка весом до 30 кг, длиной до 120 см и другими сторонами в 70 см, упаковано не по стандартам упаковки - тариф между отделениями умножается на коэффициент 1,5.
        </p>
    </div>
    <div id="contactsItem" style="display:none;text-align:center;">
        <div><span style="font-size: 1em;line-height: 40px;">Контактный номер:<a href="tel:+380675232143">+38(067)-523-21-43</a></span></div>
        <div><span style="font-size: 1em;line-height: 40px;">E-mail: infobibimarket@gmail.com</span></div>
        <div style="font-size: 1em;line-height: 40px;">Мы в социальных сетях</div>
        <div>
            <div style="cursor:pointer;display:inline-block;vertical-align:middle;" onclick="window.open('https://www.facebook.com/Автозапчастини-247-103538094588098')"><img src="~/images/Social/facebook.png" style="width:40%;" class="socialIcon" /></div>
            <div style="cursor:pointer;display:inline-block;vertical-align:middle;" onclick="window.open('https://www.instagram.com/ek4car_cn/')"><img src="~/images/Social/instagram.png" style="width:40%;" class="socialIcon" /></div>
            <div style="cursor:pointer;display:inline-block;vertical-align:middle;" onclick="window.open('https://www.youtube.com/channel/UCahH44dE4C6ZSiOr-SPMqFA')"><img src="~/images/Social/youtube.png" style="width:40%;" class="socialIcon" /></div>
        </div>

        <table class="garantedCardsTable">
            <tr>
                <td style="background:white;">
                    <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center"><img src="~/images/OrderAdvert/GarantedPay.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;"><div>Безопасная покупка</div></div>
                </td>
                <td style="background:white;">
                    <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center"><img src="~/images/OrderAdvert/dostavka100.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;">Бесплатная доставка до 30кг</div>
                </td>
                <td style="background:white;">
                    <div class="menuItemPic" style="max-width: 100%; width: 100%; display: block;text-align:center"><img src="~/images/OrderAdvert/User100.png" style="max-height:100px;" /></div><div class="inline-block" style="color:#080c31;text-align:center;padding-left:10px;"><div>Защита потребителя</div></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="User100Item" style="display:none;">
        <p style="white-space: pre-line;text-align:justify;" class="notranslate">
            Программа Защиты Покупателей предусматривает возможность получить компенсацию в сумме до 10 000 грн. для покупателей, заказ которых были оплачены, но не отправлены продавцом.

            Для получения компенсации нужно выполнить три условия:

            1. Корректно оформить все позиции заказа через корзину на bi-bi.com.ua и предоставить Службе нашей работы в номер этого заказа.
            Номер заказа вы получаете в письме подтверждении после оформления заказа.

            2. Предоставить документ и чек, подтверждающий оплату заказа по реквизитам, полученным через площадку bi-bi.com.ua

            3. Предоставить документ, подтверждающий ваше обращение в правоохранительные органы по факту мошенничества продавца (талон-уведомление, подтверждающий принятие вашего заявления)

            Процедура обращения в правоохранительные органы

            Сроки подачи заявления регламентируется двумя законами - «О полиции» и «О порядке рассмотрения обращений граждан УКРАИНЫ.
            В заявлении необходимо указать следующую информацию:
            дату и время события;
            какой вред нанесен: что именно произошло и от каких именно действий вы пострадали, описание обстоятельств, которые подтверждают совершение правонарушения-мошенничества (опишите ситуацию с заказом в хронологическом порядке, укажите название компании продавца и адрес ее сайта, имя контактного лица, с которым вы общались, приложите копию переписки по электронной почте и т. п.);
            доказательства, подтверждающие вышеуказанную информацию (документы, подтверждающие оплату заказанного товара);
            ФИО заявителя, адрес, телефон и другие ваши контакты.
            Очередной сотрудник полиции регистрирует обращение в специальной Книге учета сообщений о происшествиях и выдает вам талон-уведомление. В нем должны быть данные сотрудника, принявшего заявление, регистрационный номер, наименование территориального органа МВД Украины, адрес и служебный телефон, дата приема и подпись, инициалы и фамилия оперативного дежурного

            Рекомендации

            Внимательно изучите информацию о товаре;
            Оформляйте заказ через корзину bi-bi.com.ua, внимательно заполняйте свои данные и номер контактного телефона;
            Никогда не передавайте персональные данные третьим лицам;
            Сохраняйте все документы, относящиеся к сделке;
            Всегда проверяйте товар при получении.
            Гарантией безопасности покупок ваша внимательность и соблюдение вышеуказанных рекомендаций. Когда покупатель не сможет воспользоваться Программой Защиты Покупателей?

            Соглашение на портале bi-bi.com.ua был оформлен не через корзину;
            Реквизиты для оплаты заказа полученные вне системы bi-bi.com.ua. Например через sms сообщения личную почту, в телефонном режиме или другие каналы общения;
            Товар доставлен, но не соответствует заказу или товар оказался ненадлежащего качества (в таком случае обмен или возврат товара производится в соответствии с Законом Украины "О защите прав потребителей")
            Место отправления или получения товара находится за пределами Украины;
            С момента оформления заказа прошло более 14 календарных дней
            Товар не был доставлен или был поврежден по вине службы доставки (обратитесь в отделение перевозчика для уточнения процедуры компенсации)
            На момент обращения покупатель уже получил компенсацию по соглашению от продавца или платежной системы;
            * Обращение на выплату компенсации могут подавать только лица, данные которых указаны в заказе. Заявки от третьих лиц не рассматриваются.
        </p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
</div>