<base-frame [isLoading]="isLoading">
  <div body>

    <search-basic-layout [showRightSidebar]="showAdvanced">

      <div header-left-area>
        <command-panel>
          <command-group>
            <button class="btn btn-sm btn-primary" (click)="doRequest();">Refresh</button>
          </command-group>
        </command-panel>
      </div>

      <div header-right-area>
        <global-search-input [(term)]="requestModel.searchTerm" placeholder="Fast Search..." (onSearch)="doRequest();"></global-search-input>
        <open-sidebar-button [(opened)]="showAdvanced" label="Advanced"></open-sidebar-button>
      </div>

      <div results-area>
        <div *ngIf="viewModel.records && viewModel.records.length > 0">
          <div class="table-responsive">
            <table class="search-table">
              <thead table-header-component [fields]="fields"
                     [orderBy]="requestModel.metadata.orderBy"
                     [orderDirection]="requestModel.metadata.orderDirection"
                     [onSortingChange]="onSortingChange.bind(this)">
              </thead>
              <tbody>
              <tr role="row" *ngFor="let statusDecorator of kioskStates; let i = index" [class]="i%2 === 0? 'even':'odd'">
                <td>{{statusDecorator.kioskStateRecord.id}}</td>
                <td>
                  <div>{{statusDecorator.kioskStateRecord.addressLine1}}</div>
                  <div>{{statusDecorator.kioskStateRecord.addressLine2}}</div>
                  <div class="hint-text">{{statusDecorator.kioskStateRecord.city}}, {{statusDecorator.kioskStateRecord.country}}</div>
                  <div class="hint-text">
                    {{statusDecorator.kioskStateRecord.kioskStateVersion}} <i class="fa fa-refresh"></i> {{statusDecorator.kioskStateRecord.assignedKioskVersion}}
                  </div>
                </td>
                <td style="width: 50%">
                  <div class="state-container">
                    <div class="state-row-container">
                      <div class="state-component-container status-{{statusDecorator.aliveComponentStatus}}">
                        <div>Alive/Internet: {{statusDecorator.aliveComponentMessage}}</div>
                      </div>
                    </div>
                    <div class="state-row-container">
                      <div class="state-component-container status-{{componentStatus.status.code}}" *ngFor="let componentStatus of statusDecorator.kioskStateRecord.componentsStatuses">
                        <div>{{componentStatus.componentName}}</div>
                        <div>
                          <span *ngIf="!isOkComponentStatus(componentStatus.status.code)">{{getComponentStatusName(componentStatus.status.code)}}. </span>{{componentStatus.status.message}}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="state-container">
                    <div class="state-row-container">
                    </div>
                  </div>
                </td>
                <td>
                  <a routerLink="/kiosk-state-details" [queryParams]="{id:statusDecorator.kioskStateRecord.id}">Details</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <paging-component [total]="viewModel.total"
                            [paging]="requestModel.metadata"
                            (onStartChange)="onStartChange($event)">
          </paging-component>
        </div>
        <div *ngIf="viewModel.records && viewModel.records.length === 0 && !isLoading"
             class="no-records-message">
          Search returned no results
        </div>
      </div>

      <div right-sidebar-area>
        <advanced-search [clearForm]="clearAdvancedSearch.bind(this)" [doSearch]="doAdvancedSearch.bind(this)">
        </advanced-search>
      </div>

    </search-basic-layout>

  </div>
</base-frame>
