@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>

<html>
<head></head>
<body>
    
    <h1 style="color:white;text-align:center;" class="notranslate">Політика конфіденційності</h1>

    <p style="color:white; white-space: pre-line;padding:0px 40px;" class="notranslate">
        Політика щодо обробки персональних даних

        1. Загальні положення

        Справжню політику обробки персональних даних складено відповідно до вимог Закону України «Про захист персональних даних» від 01.06.2010 та визначає порядок обробки персональних даних та заходи щодо забезпечення безпеки персональних даних Автозапчастини 24 (далі - Оператор).

        Оператор ставить своєю найважливішою метою та умовою здійснення своєї діяльності дотримання прав і свобод людини та громадянина при обробці його персональних даних, у тому числі захисту прав на недоторканність приватного життя, особисту та сімейну таємницю.

        Ця політика Оператора з обробки персональних даних (далі - Політика) застосовується до всієї інформації, яку оператор може отримати про відвідувачів сайту https://bi-bi.com.ua/

        2. Основні поняття, що використовуються у Політиці

        Автоматизована обробка персональних даних – обробка персональних даних за допомогою засобів обчислювальної техніки;

        Блокування персональних даних - тимчасове припинення обробки персональних даних (крім випадків, якщо обробка необхідна уточнення персональних даних);

        Сайт - сукупність графічних та інформаційних матеріалів, а також програм для ЕОМ та баз даних, що забезпечують їх доступність у мережі Інтернет за мережевою адресою https://bi-bi.com.ua/

        Інформаційна система персональних даних - сукупність персональних даних, що містяться в базах даних, і забезпечують їх обробку інформаційних технологій та технічних засобів;

        Знеособлення персональних даних - дії, у яких неможливо визначити без використання додаткової інформації належність персональних даних конкретному Користувачеві чи іншому суб'єкту персональних даних;

        Обробка персональних даних - будь-яка дія (операція) або сукупність дій (операцій), що здійснюються з використанням засобів автоматизації або без використання таких засобів з персональними даними, включаючи збирання, запис, систематизацію, накопичення, зберігання, уточнення (оновлення, зміну), вилучення, використання, передачу (поширення, надання, доступ), знеособлення, блокування, видалення, знищення персональних даних;

        Оператор - державний орган, муніципальний орган, юридична або фізична особа, самостійно або спільно з іншими особами організують та (або) здійснюють обробку персональних даних, а також визначальні цілі обробки персональних даних, склад персональних даних, що підлягають обробці, дії (операції), що здійснюються із персональними даними;

        Персональні дані - будь-яка інформація, що відноситься прямо чи опосередковано до певного чи визначеного Користувачеві сайту https://bi-bi.com.ua/

        Користувач – будь-який відвідувач сайту https://bi-bi.com.ua/

        Надання персональних даних - дії, спрямовані на розкриття персональних даних певній особі чи певному колу осіб;

        Розповсюдження персональних даних - будь-які дії, спрямовані на розкриття персональних даних невизначеному колу осіб (передача персональних даних) або на ознайомлення з персональними даними необмеженого кола осіб, у тому числі оприлюднення персональних даних у засобах масової інформації, розміщення в інформаційно-телекомунікаційних мережах або надання доступу до персональних даних будь-яким іншим способом;

        Транскордонна передача персональних даних - передача персональних даних на територію іноземної держави органу влади іноземної держави, іноземній фізичній чи іноземній юридичній особі;

        Знищення персональних даних - будь-які дії, внаслідок яких персональні дані знищуються безповоротно з неможливістю подальшого відновлення змісту персональних даних в інформаційній системі персональних даних та (або) внаслідок яких знищуються матеріальні носії персональних даних.

        3. Оператор може обробляти такі персональні дані користувача

        Прізвище ім'я по батькові;

        Електронна адреса;

        Номери телефонів;

        Також на сайті відбувається збір та обробка знеособлених даних про відвідувачів (в т.ч. файлів cookie) за допомогою сервісів інтернет-статистики (Яндекс Метрика та Google Аналітика та інших).

        Дані за текстом Політики об'єднані загальним поняттям Персональні дані.

        4. Цілі обробки персональних даних
        Мета обробки персональних даних користувача – інформування користувача за допомогою надсилання електронних листів; надання доступу Користувачеві до сервісів, інформації та/або матеріалами, що містяться на сайті.

        Також Оператор має право надсилати Користувачеві повідомлення про нові продукти та послуги, спеціальні пропозиції та різні події. Користувач завжди може відмовитися від отримання інформаційних повідомлень, надіславши Оператору листа на адресу електронної пошти info@business.ek4car.com з позначкою «Відмова від повідомлень про нові продукти та послуги та спеціальні пропозиції».

        Знеособлені дані користувачів, які збираються за допомогою сервісів інтернет-статистики, служать для збору інформації про дії користувачів на сайті, покращення якості сайту та його змісту.

        5. Правові основи обробки персональних даних

        Оператор обробляє персональні дані користувача тільки у разі їх заповнення та/або відправлення користувачем самостійно через спеціальні форми, розташовані на сайті https://bi-bi.com.ua/ Заповнюючи відповідні форми та/або відправляючи свої персональні дані Оператору, Користувач висловлює своє згоду із цією політикою.

        Оператор обробляє знеособлені дані про користувача у випадку, якщо це дозволено в налаштуваннях браузера користувача (включено збереження файлів cookie та використання технології JavaScript).

        6. Порядок збирання, зберігання, передачі та інших видів обробки персональних даних

        Безпека персональних даних, які обробляє оператор, забезпечується шляхом реалізації правових, організаційних та технічних заходів, необхідних для виконання в повному обсязі вимог чинного законодавства у сфері захисту персональних даних.

        Оператор забезпечує збереження персональних даних та вживає всіх можливих заходів, що виключають доступ до персональних даних неуповноважених осіб.

        Персональні дані користувача ніколи, за жодних умов не будуть передані третім особам, за винятком випадків, пов'язаних із виконанням чинного законодавства.

        У разі виявлення неточностей у персональних даних, Користувач може актуалізувати їх самостійно шляхом надсилання Оператору повідомлення на адресу електронної пошти Оператора info@business.ek4car.com з позначкою «Актуалізація персональних даних».

        Термін обробки персональних даних є необмеженим. Користувач може у будь-який момент відкликати свою згоду на обробку персональних даних, надіславши Оператору повідомлення електронною поштою на електронну адресу Оператора info@business.ek4car.com з позначкою «Відгук згоди на обробку персональних даних».

        7. транскордонна передача персональних даних

        Оператор на початок здійснення транскордонної передачі персональних даних зобов'язаний переконатися, що іноземним державою, територію якого передбачається здійснювати передачу персональних даних, забезпечується надійний захист прав суб'єктів персональних даних.

        транскордонна передача персональних даних на території іноземних держав, що не відповідають зазначеним вище вимогам, може здійснюватися лише за наявності згоди у письмовій формі суб'єкта персональних даних на транскордонну передачу його персональних даних та/або виконання договору, стороною якого є суб'єкт персональних даних.

        8. Заключні положення

        Користувач може отримати будь-які роз'яснення стосовно питань, що цікавлять обробку його персональних даних, звернувшись до Оператора за допомогою електронної пошти info@business.ek4car.com.

        У цьому документі буде відображено будь-які зміни політики обробки персональних даних оператором. Політика діє безстроково до заміни її новою версією.

        Актуальна версія Політики у вільному доступі знаходиться у мережі Інтернет за адресою https://bi-bi.com.ua/Home/Privacy

        АТ КБ "ПРИВАТБАНК", ЄДРПОУ 14360570
        ВІДДІЛЕННЯ "Чернігівська №30" Клієнт ДУБІНА Л.В. ФОП, ДКПО 2092012427
        Поточний рахунок №UA383052990000026009016303944
        Тел: +38 (095) 894-55-24
    </p>
</body>
</html>