@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color:white;text-align:center;">Політика конфіденційності</h1>

<p style="color:white; white-space: pre-line;padding:0px 40px;">
    Політика щодо обробки персональних даних

    1. Загальні положення

    Справжня політика обробки персональних даних складена відповідно до вимог Закону України «Про захист персональних даних» від 01.06.2010 та визначає порядок обробки персональних даних та заходи щодо забезпечення безпеки персональних даних Автозапчастини 24 (далі - Оператор).

    Оператор ставить своїм найважливішим метою і умовою здійснення своєї діяльності дотримання прав і свобод людини і громадянина при обробці його персональних даних, в тому числі захисту прав на недоторканність приватного життя, особисту і сімейну таємницю.

    Справжня політика Оператора щодо обробки персональних даних (далі - Політика) застосовується до всієї інформації, яку Оператор може отримати про відвідувачів веб-сайту https://bi-bi.com.ua/

    2. Основні поняття, що використовуються в Політиці

    Автоматизована обробка персональних даних - обробка персональних даних за допомогою засобів обчислювальної техніки;

    Блокування персональних даних - тимчасове припинення обробки персональних даних (за винятком випадків, якщо обробка необхідна для уточнення персональних даних);

    Веб-сайт - сукупність графічних і інформаційних матеріалів, а також програм для ЕОМ і баз даних, що забезпечують їх доступність в мережі інтернет за мережевою адресою https://bi-bi.com.ua/

    Інформаційна система персональних даних - сукупність містяться в базах даних персональних даних, і забезпечують їх обробку інформаційних технологій і технічних засобів;

    Знеособлення персональних даних - дії, в результаті яких неможливо визначити без використання додаткової інформації приналежність персональних даних конкретному Користувачеві чи іншому суб'єкту персональних даних;

    Обробка персональних даних - будь-яка дія (операція) або сукупність дій (операцій), що здійснюються з використанням засобів автоматизації або без використання таких засобів з персональними даними, включаючи збір, запис, систематизацію, накопичення, зберігання, уточнення (оновлення, зміна), витяг, використання, передачу (поширення, надання, доступ), знеособлення, блокування, видалення, знищення персональних даних;

    Оператор - державний орган, муніципальний орган, юридична чи фізична особа, яка самостійно або спільно з іншими особами організують і (або) здійснюють обробку персональних даних, а також визначають цілі обробки персональних даних, склад персональних даних, що підлягають обробці, дії (операції), що здійснюються з персональними даними;

    Персональні дані - будь-яка інформація, що відноситься прямо або побічно до певного або визначається Користувачеві веб-сайту https://bi-bi.com.ua/

    Користувач - будь-який відвідувач веб-сайту https://bi-bi.com.ua/

    Надання персональних даних - дії, спрямовані на розкриття персональних даних певній особі або певного кола осіб;

    Поширення персональних даних - будь-які дії, спрямовані на розкриття персональних даних невизначеному колу осіб (передача персональних даних) або на ознайомлення з персональними даними необмеженого кола осіб, в тому числі оприлюднення персональних даних в засобах масової інформації, розміщення в інформаційно-телекомунікаційних мережах або надання доступу до персональних даних будь-яким іншим способом;

    Транскордонна передача персональних даних - передача персональних даних на територію іноземної держави органу влади іноземної держави, іноземної фізичній або іноземній юридичній особі;

    Знищення персональних даних - будь-які дії, в результаті яких персональні дані знищуються безповоротно з неможливістю подальшого відновлення змісту персональних даних в інформаційній системі персональних даних і (або) внаслідок яких знищуються матеріальні носії персональних даних.

    3. Оператор може обробляти такі персональні дані Користувача

    Прізвище ім'я по батькові;

    Електронна адреса;

    Номери телефонів;

    Також на сайті відбувається збір і обробка знеособлених даних про відвідувачів (в т.ч. файлів «cookie») за допомогою сервісів інтернет-статистики (Яндекс Метрика і Гугл Аналітика та інших).

    Перераховані вище дані далі по тексту Політики об'єднані загальним поняттям Персональні дані.

    4. Цілі обробки персональних даних
    Мета обробки персональних даних Користувача - інформування Користувача за допомогою відправки електронних листів; надання доступу Користувачеві до сервісів, інформації та / або матеріалами, що містяться на веб-сайті.

    Також Оператор має право направляти Користувачеві повідомлення про нові продукти та послуги, спеціальні пропозиції та різні події. Користувач завжди може відмовитися від отримання інформаційних повідомлень, направивши Оператору лист на адресу електронної пошти info@business.ek4car.com з позначкою «Відмова від повідомленнях про нові продукти і послуги та спеціальні пропозиції».

    Знеособлені дані користувачів, що збираються за допомогою сервісів інтернет-статистики, служать для збору інформації про дії користувачів на сайті, поліпшення якості сайту та його змісту.

    5. Правові підстави обробки персональних даних

    Оператор обробляє персональні дані Користувача тільки в разі їх заповнення та / або відправки Користувачем самостійно через спеціальні форми, розташовані на сайті https://bi-bi.com.ua/ Заповнюючи відповідні форми і / або відправляючи свої персональні дані Оператору, Користувач висловлює своє згоду з цією політикою.

    Оператор обробляє знеособлені дані про Користувача в разі, якщо це дозволено в настройках браузера Користувача (включено збереження файлів «cookie» і використання технології JavaScript).

    6. Порядок збору, зберігання, передачі та інших видів обробки персональних даних

    Безпека персональних даних, які обробляються Оператором, забезпечується шляхом реалізації правових, організаційних і технічних заходів, необхідних для виконання в повному обсязі вимог чинного законодавства у сфері захисту персональних даних.

    Оператор забезпечує збереження персональних даних і вживає всіх можливих заходів, що виключають доступ до персональних даних не уповноважених осіб.

    Персональні дані Користувача ніколи, ні за яких умов не будуть передані третім особам, за винятком випадків, пов'язаних з виконанням чинного законодавства.

    У разі виявлення неточностей в персональних даних, Користувач може актуалізувати їх самостійно, шляхом подання відповідного Оператору повідомлення на адресу електронної пошти Оператора info@business.ek4car.com з позначкою «Актуалізація персональних даних».

    Термін обробки персональних даних є необмеженим. Користувач може в будь-який момент відкликати свою згоду на обробку персональних даних, направивши Оператору повідомлення за допомогою електронної пошти на електронну адресу Оператора info@business.ek4car.com з позначкою «Відкликання згоди на обробку персональних даних».

    7. трансгранічнаяпередача персональних даних

    Оператор до початку здійснення транскордонної передачі персональних даних зобов'язаний переконатися в тому, що іноземною державою, на територію якого передбачається здійснювати передачу персональних даних, забезпечується надійний захист прав суб'єктів персональних даних.

    ттрансгранічная передача персональних даних на території іноземних держав, які не відповідають зазначеним вище вимогам, може здійснюватися тільки в разі наявності згоди в письмовій формі суб'єкта персональних даних на транскордонна передачу його персональних даних та / або виконання договору, стороною якого є суб'єкт персональних даних.

    8. Прикінцеві положення

    Користувач може отримати будь-які роз'яснення з потрібних питань, що стосуються обробки його персональних даних, звернувшись до Оператору за допомогою електронної пошти info@business.ek4car.com.

    В даному документі будуть відображені будь-які зміни політики обробки персональних даних Оператором. Політика діє безстроково до заміни її новою версією.

    Актуальна версія Політики у вільному доступі розташована в мережі Інтернет за адресою https://bi-bi.com.ua/Home/Privacy

    АТ КБ "ПРИВАТБАНК", ЄДРПОУ 14360570
    ВIДДIЛЕННЯ "ЧЕРНIГIВСЬКЕ №30"Клієнт ДУБIНА Л.В. ФОП, ЄДРПОУ 2092012427
    Поточний рахунок №UA383052990000026009016303944
    Тел: +38 (095) 894-55-24
</p>
