@model WebApplication.Classes.CartProductModel
<!DOCTYPE html>

<html>
<head>
    <script>
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
            'ecommerce': {
                'currencyCode': 'UAH',
                'add': {
                    'products': [@Html.Raw(Model.ScriptData)]
                }
            },
            'event': 'gtm-ee-event',
            'gtm-ee-event-category': 'Enhanced Ecommerce',
            'gtm-ee-event-action': 'Adding a Product to a Shopping Cart',
            'gtm-ee-event-non-interaction': 'False',
        });
    </script>
    

    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1" />
    <title></title>
    <script>

        function backToProductList() {
            /**/
            window.location.href = '@ViewData["Params"]';
        /**/
    }
    function backToMainPage() {
        window.location.href = '/';
    }
    function openDetails(advertId, advertPrice) {
        window.open('/Product/Details/' + "?id=" + advertId + "&price=" + advertPrice, "_self");
    }
    </script>
</head>
<body>
    <div id="divCartViewControl">
        @Html.Partial("CartViewInner", @Model)
    </div>
</body>
</html>