@model IList<WebApplication.Classes.CartProduct>
<!DOCTYPE html>

<html>
<head>  
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MQ9L6KT');</script>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1" />
    <title></title>
    <script>

        function backToProductList() {
            /**/
            window.location.href = '@ViewData["Params"]';
        /**/
    }
    function backToMainPage() {
        window.location.href = '/';
    }
    function openDetails(advertId, advertPrice) {
        window.open('/Product/Details/' + "?id=" + advertId + "&price=" + advertPrice, "_self");
    }
    </script>
</head>
<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQ9L6KT"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div id="divCartViewControl">
        @Html.Partial("CartViewInner", @Model)
    </div>
</body>
</html>