@model WebApplication.Models.ProductViewModel
@{
    Layout = null;
 }

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Model.Title</title>
</head>
<body>
    <div id="rootBlockDetails" style="display:block;padding:50px 0px;">
        <!--IMAGES BLOCK-->
        <div id="imageBlock" class="detailBlock" style="width:19%;text-align:center;">
            <div id="mainPhoto">

            </div>
            <img id="mainImageProduct" src="https://f.allegroimg.com/original/033639/c5bfd0d04a7b8271341ab7e3c40f/BLOTNIK-VW-GOLF-4-IV-LB7Z" style="max-width:100%;" />
            <div id="smallPhotoes" style="text-align:left;">
                @foreach (var item in Model.Images)
                {
                    <a href=@item data-fancybox="gallery" class="noneDecoration">
                        <img src=@item class="smallPhotoes">
                    </a>
                }
            </div>
        </div>
        <!--DESCRIPTION BLOCK-->
        <div id="infoBlock" class="detailBlock" style="width:60%;"><span class="descriptionBlock">@Model.Description</span></div>
        <!--PRICE BLOCK-->
        <div id="controlBlock" class="detailBlock" style="width:20%;text-align:center;border-left:1px solid #c3c4d7;">
            <div id="priceProduct">
                <div id="priceBlock" style="color: #e87619;"><label style="font-size:40px;">1 345</label><label style="font-size:24px;">грн</label></div>
                <div id="priceComment" style="color:#6c7096;font-size:14px;">с учетом доставки<br /> доставка 1-7 дней</div>
                <div id="buyBtn" style="margin: 57px 0px 0px 0px">
                    <button class="btnBuy">
                        <img src="~/images/Buy.png" />
                        <span>Купить</span>
                    </button>
                </div>
                <div id="continueBtn" style="margin: 10px 0px 0px 0px">
                    <input type="submit" id="btnContinueBuys" value="Продолжить покупки" />
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER BLOCK-->
    <div id="footerBlockDetails" style="background:#eeefff;height:120px;text-align:center;">
        <div style="position:relative;top:30%;">
            <input type="submit" id="btnCloseDetailWindow" value="Закрыть" />
        </div>

    </div>
</body>
</html>
