<html>
<head>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="mainBlockTitle" id="divTreeTitle" style="background: #EEEFFF;border-bottom:1px solid #504593;">
                <div onclick="ReturnToDelivery()" style="color: white; padding: 0px 10px; font-weight: normal; display: inline-block; border-radius: 10px; font-size: 23px; float: left; text-transform: capitalize; background: #ff5a00;">
                    <span>Назад</span>
                </div>
                <div style="display:inline-block;">Виберіть спосіб оплати</div>
            </div>            
            <div class="col" style="color:#504593;background:#EEEFFF;min-height: 100vh;">
                <div class="row">
                    <div class="col" style="text-align:center;" onclick="location.href=button.getUrl()">
                        <div class="paymentMethod">
                            <div><img src="~/images/Payment/CreditCardBig.png" /></div>
                            Visa / Mastercard
                        </div>
                    </div>
                    <div class="col" style="text-align:center;">
                        <div class="paymentMethod">
                            <div><img src="~/images/Payment/Privat24Big.png" /> </div>
                            На карту ПриватБанка
                        </div>
                    </div>
                    <div class="col" style="text-align:center;">
                        <div class="paymentMethod">
                            <div><img src="~/images/Payment/CashInTerminalBig.png" /></div>
                            На р/р компанії
                        </div>
                    </div>
                    <div class="col" style="text-align:center;">
                        <div class="paymentMethod">
                            <div><img src="~/images/Payment/CashInBankBig.png" /></div>
                            Готівкою в банку
                        </div>
                    </div>
                    <div class="col" style="text-align:center;">
                        <div class="paymentMethod">
                            <div><img src="~/images/Payment/WireTransferBig.png" /></div>
                            Безготівковий розрахунок
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>