<div class="row justify-content-md-between header-row">
  <div class="col-12 col-md-auto">

    <ng-content select="[header-left-area]"></ng-content>

  </div>
 <div class="col-12 col-md-auto">

     <ng-content select="[header-middle-area]"></ng-content>

 </div>
  <div class="col-12 col-md-auto">
    
    <ng-content select="[header-right-area]"></ng-content>

  </div>
</div>

<div class="content-container">

  <div class="results-container">

    <ng-content select="[results-area]"></ng-content>

  </div>

  <div class="right-sidebar-container"
       [class.opened]="showRightSidebar">

    <ng-content select="[right-sidebar-area]"></ng-content>

  </div>  

</div>